body {
	color: white;
	background: 
    url("") 
    top left / 100px 100px
    repeat
    #23272a;
	border: 0 solid #000;
	font-family: strongsword, opensans, latoregular, robotobold, arial, helvetica, sans-serif;

}

@font-face {
	font-family: opensans;
	src: url(../fonts/opensans-regular.ttf);
}

@font-face {
	font-family: opensansbold;
	src: url(../fonts/opensans-bold.ttf);
}

@font-face {
	font-family: robotobold;
	src: url(../fonts/roboto-bold.ttf);
}

@font-face {
	font-family: strongsword;
	src: url(../fonts/strongsword.ttf);
}

/* #region - global */



img,fieldset {
	border: none;
}

/* null margins and padding to give good cross-browser baseline */
html,body,address,blockquote,div,
form,fieldset,caption,
h1,h2,h3,h4,h5,h6,
hr,ul,li,ol,ul,
table,tr,td,th,p,img {
	margin:0;
	padding:0;
}

* { 
	scrollbar-width: none; 
} 

.hidden, ::-webkit-scrollbar {
	display: none;
}

.columns {
	display: inline-block;
	width: 420px;
	min-height: 715px;
	margin: 2px;
	border: 1px solid #455a64;
	resize: vertical;
	overflow: auto;
	vertical-align: top;
	background: transparent url("../../images/bg/drag-here2.webp") no-repeat center 50%;
}

#compare-boxes {
	margin-left: 2px;
}

#compare-boxes .columns {
	background: transparent url("../../images/bg/drag-here.webp") no-repeat center 50%;	
}

.draggable-container {
	width: 860px;
	min-height: 700px;
	background-color: rgba(43, 56, 63, 1);
	z-index: 250;
	position: absolute;
	top: 162px;
	left: 450px;
}

.draggable-area {
	padding: 10px;
	cursor: move;
	z-index: 252;
	background-color: #2196f3;
	color: #fff;
	text-align: center;
}

.rows {
	position: absolute;
	top: 160px;
}

.rows,.rows-compare {
	height: 725px;
	display: block;
	border: 0 solid #78909c;
	overflow-x: hidden;
	overflow-y: auto;
}

.rows-right {
	right: 90px;
	width: 860px;
}

.rows-left {
	left: 90px;
	width: 860px;
}

.dots {
	background-color: #263238;
	border-radius: 50%;
	display: inline-block;
	line-height: 24px;
	width: 24px;
	vertical-align: middle;
	border: 2px solid #bdbdbd;
}

.dot-plus {
	font-size: 16px;	
}

/* #region - containers */

/* 	border: 1px solid #7a8288; */
.items-container {
	background-color: #2a2a2a;
	width: 410px;
	display: inline-block;
	vertical-align: top;
	border: 1px solid #37474f;
	text-align: center;
	z-index: 100;
	/* font-weight: bold !important; */
	margin-top: 4px;
	margin-left: 4px;
}

#testing-page #testing-container.container {
	background-color: #2a2a2a;
	width: 410px;
	height: 715px;
	display: inline-block;
	vertical-align: top;
	border: 4px solid #37474f;
	text-align: center;
	z-index: 100;
	font-weight: bold !important;
	margin-top: 4px;
	margin-left: 4px;
}

#testing-page #testing-container2.container {
	background-color: #2a2a2a;
	width: 410px;
	height: 885px;
	display: inline-block;
	vertical-align: top;
	border: 4px solid #37474f;
	text-align: center;
	z-index: 100;
	font-weight: bold !important;
	margin-top: 4px;
	margin-left: 4px;
}


select, optgroup label, option  {
	color: #ffffff;
	background-color: #263238;
    /* text-align: center;
    text-align-last: center;
    -moz-text-align-last: center; */
	width: 340px;

}

/* #endregion - containers */


.top {
	margin-top: 0 !important;
}

.left {
	position: relative;
	left: 4px;
	float: left;
}


.right {
	position: relative;
	right: 4px;
	float: right;
}


.right .links, .dot-plus {
	font-weight: bold;	
}

.button {
	display: block;	
	color: white;
	margin-top: 2px;
	margin-right: 2px;
	line-height: 32px;
	text-decoration: none;
	width: 100%;
	font-size: 16px;
	font-weight: bold;
	text-align: center;
	text-transform: uppercase;
}

.node-selection-content {
	margin-top: 4px;
}

/* #region - text */
.h1,h2 {
	text-align: center;
	font-weight: bold;
}


.smalltxt {
	font-size: 16px;
	margin-bottom: 4px;
}

.smalltxt a {
	font-size: 16px;
}

.amount {
	font-size: 12px;	
	font-weight: bold;
}

/* blue/upgrade  any green or blue pot text centered text more */
.alignr {
	margin-left: 26px;
	display: inline-block;
}

.links-content {
	margin-bottom: 4px;
}

.item-link {
	margin-top: 8px;
	margin-bottom: 8px;
}

.item-link .dots {
	border: 2px solid #ffca28;
}

/* #endregion - text */


/* #endregion - global */


/* #region - recipes.html */

/* #region - nav buttons */
	#nav-buttons {
		display: flex;
		justify-content: center;
	}

	.home-button,.alchemy-recipes-button,.cooking-recipes-button,.bdocodex-button,.info-button {
		display: inline-block;	
	}

	.home-button {
		width: 50px;
	}

	.alchemy-recipes-button,.cooking-recipes-button {
		width: 200px;
	}

	.bdocodex-button {
		width: 350px;
	}

	.info-button {
		font-size: 16px;
		width: 175px;
	}

	.compare-link {
		position: absolute;
		top: 135px;
		left: 790px;
	}	
	
	.compare-link a {
		color: #fafafa;
		text-transform: uppercase;
		font-size: 16px;
		font-weight: 600;
		text-decoration: none;
	}

/* #endregion - nav buttons */


.info-box {
	position: absolute;
	left: 1245px;
	width: 350px;
	text-align: center;
	background-color: #263238;
	display: none;
	z-index: 200;
}

.recipes-container {
	margin-left: 10px;
	width: 1900px;
	height: 880px;

}

#recipes-alchemy-content,#testing-page,#testing-page2 {
	background: transparent url("../../images/bg/recipes-bg-alchemy.webp") no-repeat left top;
}


/* #endregion - recipes.html */



/* #bdo-recipes-container .button {
	font-size: 14px;
} */


span.button {
	line-height: 24px;
}



/* #region - image icons */
.icons {
	vertical-align: middle;
}

.bdocodex-icon {
	height: 16px;
	width: 16px;
}

.icons1 {
	height: 24px;
	width: 24px;
}



.icons2 {
	height: 32px;
	width: 32px;
}

.icons3,.processing-icon,.qmark-icon {
	height: 20px;
	width: 20px;
}

.icons4 {
	height: 16px;
	width: 20px;
}

.icons5 {
	height: 22px;
	width: 30px;
}


.icons6,.used-in-icon {
	height: 20px;
	width: 24px;
}

.filtering,.processing-guild-icon,.qmark-icon {
	margin-bottom: 2px;
}

.alchemy,.compare-icon,.farming-icon,.gathering,.nodes-icon,.used-in-icon {
	margin-bottom: 4px;
}

.alchemy-icon,.heating-icon {
	margin-bottom: 6px;
}


/* #endregion - image icons */









/* #region - links */

a {
	color: white;
}

a.button-link,a.button-link:hover, a.links  {
	text-decoration: none;
} 

.links2 {
	font-size: 20px;
}

a.links2:hover {
	color: #9e9e9e;
}

/* a.links2:hover {
	color: #4e86bf;
}
 */

 a.pw-gwfe {
	 font-size: 14px;
 }


.btnnoicon {
 padding: 5px 0 !important;	
 
}

/* #endregion - links */



/* #region - colors */

/* item grades */

a.grade1:hover,a.grade2:hover,a.grade3:hover,a.grade4:hover,a.grade5:hover,a.grade6:hover {
color: #9e9e9e;
}

/* item grades end */


.blue1, .grade4,.node-notes {
	color: #05b4f0;	
}

.blue2 {
	color: #438cca;	
}

.dark1 {
	color: #424242;	
}

.gold,.amount,.grade5 {
	color: #ffca28;	
}

.gold2,.node-name,.sap-gathering-link {
	color: #ffd800;	
}

.green1, .grade3 {
	color: #64dd17;	
}


.green2 {
	color: #82a041;	
}

.grey, .grade1 {
	color: #c0c0c0;
}


.orange1, .grade6 {
	color: #ff8c19;	
}

.red {
	color: #d70a37 !important;	
}

.red2 {
	color: #d70a37 !important;	
}


.white, .dot-plus, .grade2 {
	color: #ffffff;	
}

/* og color 66463e */

.notes-button .button-link, .used-in-button .button-link {
	color: #ffca28 !important;
}
/* color bea082 - a68f87*/

/* #endregion - colors */



/* #region - background colors */

.nobg {
	background-color: transparent !important;
}

/* fruits of */

.foa-button {
	background-color: #0097a7;	
}

.focf-button {
	background-color: #ad1457;	
}

.fod-button {
	background-color: #d84315;	
}

.foe-button {
	background-color: #8e24aa;	
}

/* purple 6a1b9a */

.fomp-button {
	background-color: #4527a0;	
}

.fon-button {
	background-color: #2e7d32;	
}

.fop-button {
	background-color: #37474f;	
}


.fots-button {
	background-color: #be8c1e;	
}

/* fruits of end */


/* saps */


/* saps end */

.sap-acacia-button {
	background-color: #616161;	
}

.sap-ash-button {
	background-color: #466469;	
}

.sap-birch-button {
	background-color: #526043;	
}

.sap-cactus-button {
	background-color: #689f38;	
}

.sap-cedar-button {
	background-color: #704c40;	
}

.sap-elder-button {
	background-color: #8c7d5b;	
}

.sap-fir-button {
	background-color: #706848;	
}

.sap-loopy-tree-button {
	background-color: #385468;	
}

.sap-maple-button {
	background-color: #386070;	
}

.sap-moss-tree-button {
	background-color: #487468;	
}


.sap-palm-button {
	background-color: #658c56;	
}

.sap-pine-button {
	background-color: #487458;	
}

.sap-thornwood-button {
	background-color: #a56965;	
}

.sap-thuja-button {
	background-color: #966054;	
}

.sap-white-cedar-button {
	background-color: #604868;	
}



/* traces of */

.toa-button {
	background-color: #558b2f;	
}

.tob-button {
	background-color: #883410;	
}

.toc-button {
	background-color: #424242;	
}

.tod-button {
	background-color: #eeeeee;	
}

.tod2-button {
	background-color: #00695c;	
}

.tote-button {
	background-color: #5d4037;	
}

.toh-button {
	background-color: #5c6bc0;	
}

.tof-button {
	background-color: #2e7d32;	
}

.tom-button {
	background-color: #ffc400;	
}

.too-button {
	background-color: #f48fb1;	
}

.tos-button {
	background-color: #b71c1c;	
}

.tov-button {
	background-color: #26a69a;	
}

.tow-button {
	background-color: #00bcd4;	
}

/* fruits of end */






/* really dark blue 19324b */

.bluebg1 {
	background-color: #1e3c5a;	
}

.bluebg2, .clr-button, .ppr-button, .pw-button {
	background-color: #284664;	
}
/* 284664 */

.bluebg3 {
	background-color: #33597f;	
}

/* dodger blue */
.bluebg4 {
	background-color: #4e86bf;	
}

.bluebg5,.home-button,.bdocodex-button,.info-button {
	background-color: #1565c0;	
}

.bluebg6,.htg-button {
	background-color: #0288d1;		
}

.blue-grey-bg, .processing-shaking-button {
	background-color: #546e7a;	
}

.blue-grey-bg2, .processing-button {
	background-color: #41506E;	
}

.blue-grey-bg2 {
	background-color: #37474f;	
}


.blue-grey-bg4, .nodes-button,.upgrading {
	background-color: #2b383f;	
}




.brownbg1,.cheapest,.chopping-processing-button,.notes-button,.used-in-button {
	background-color: #5d4037;	
}

.brownbg2,.farming-button {
	background-color: #4e342e;
}

.brownbg3,.design-workshop-button {
	background-color: #3e2723;
}

/* vinegar - aa820a, 96780a, 82640a, 735a0a, 644b0f */

.darkbg1  {
	background-color: #2d2d2d;		
}

.darkbg2 {
	background-color: #383838;		
}

.darkbg3 {
	background-color: #4c4c4c;		
}

.darkbg4 {
	background-color: #5b5b5b;		
}

.darkbg5,.manufacture-processing-button {
	background-color: #263238;			
}

.darkbg6 {
	background-color: #424242;			
}

.goldbg1 {
	background-color: #ffd800 !important;	
}

.greenbg1 {
	background-color: #1b5e20 !important;	
}

.greenbg2,.cooking-used-in-button,.cooking-recipes-button,.processing-simple-cooking-button {
	background-color: #2e7d32 !important;	
}

.greenbg3,.gathering-button {
	background-color: #388e3c !important;	
}

.greybg1,.grinding-processing-button {
	background-color: #37474f !important;	
}

.greybg2,.processing-filtering-button {
	background-color: #455a64 !important;
}


.orangebg1 {
	background-color: #ff6d00 !important;	
}

.orangebg1 {
	background-color: #f4511e !important;	
}

.orangebg2,.processing-heating-button {
	background-color: #d84315 !important;	
}


.purplebg {
	background-color: #5c6bc0 !important;				
}

.purplebg2,.simple-alchemy-processing-button {
	background-color: #512da8 !important;		
}

.purplebg3,.item-alchemy-button,.alchemy-recipes-button {
	background-color: #4527a0 !important;		
}

.purplebg4 {
	background-color: #320064 !important;		
}



.bloods-button,.bloods-button {
	background-color: #7f0000;		
}


.redbg2 {
	background-color: #8c0000;		
}

.redbg3 {
	background-color: #8c0000;		
}

.teal1,.processing-guild-button {
	background-color: #316b6b;	
}

/* #endregion - background colors */

