body {
	color: white;
	background: 
    url("https://deeprockgalactic.wiki.gg/images/6/62/Skin-Body-Background-PlagueFall.jpg") 
	top center / 1920px 1080px
	no-repeat
    #134717;
	border: 0 solid #000;
	font-family: rift-soft-bold, arial, helvetica, sans-serif;
	text-align: center;
}

@font-face {
	font-family: rift-soft-bold;
	src: url(fonts/rift-soft-bold.ttf);
}

/* #region - global */

img,fieldset {
	border: none;
}

/* null margins and padding to give good cross-browser baseline */
html,body,address,blockquote,div,
form,fieldset,caption,
h1,h2,h3,h4,h5,h6,
hr,ul,li,ol,ul,
table,tr,td,th,p,img {
	margin:0;
	padding:0;
}

* { 
	scrollbar-width: none; 
} 

.hidden, ::-webkit-scrollbar {
	display: none;
}

/* #tabs {
	width: 1800px;
} */

ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

ul li {
	display: inline-block;
} 

ul#nav-header li {
	margin-left: 10px;
	height: 45px;
}

/* #region - text */

p.text-content {
	line-height: 20px;
}

.equipment p.text-content {
	line-height: 22px;
}

.h1 {
	font-size: 36px;
}

.equipment .h2 {
	font-size: 22px;
	display: inline-block;
}


/* #region - items colors */

.active-perk {
	color: #4BBFA5;
}


.aquarq {
	color: #2646FF;
}

.bittergem {
	color: #e91e63;
}

.cyro {
	color: #03a9f4;
}

.epc {
	color: #673ab7;	
}

.flame {
	color: #de3800;
}

.sludge {
	color: #cddc39;
}


.wave-cooker {
	color: #4caf50;	
}




/* #endregion - items colors */

.playstyle {
	color: #F89D06;
}


/* #region -  dwarves colors */
.driller {
	color: yellow;
}

.engineer {
	color: red;
}

.gunner {
	color: green;
}

.scout {
	color: #2646FF;
}


/* #endregion - dwarves colors */


/* #region - links */

/* #region - overclocks */

.balanced {
	background-color: #e9Ca37;
	color: #000;
}

.clean {
	background-color: #379C5d;
	color: #000;
}

.unstable {
	background-color: #de3800;
	color: #000;
}

/* #endregion - overclocks */

/* #region - weapons */

a.axes {
	background-color: #78909c;
	color: #000;
}

a.cyro {
	background-color: #03a9f4;
	color: #000;
}

a.epc {
	background-color: #7e57c2;
	color: #000;
}


a.wave-cooker {
	background-color: #4caf50;
	color: #000;
}

/* #endregion - weapons */

a.passive-perk {
	background-color: #b93253;
	color: #000;
}

a.perks:hover {
	text-decoration: underline;
}

a.header-link, a.perks {
	text-decoration: none;
}



/* #endregion - links */

/* #endregion - text */


/* #endregion - global */


/* #region - nav buttons */
#nav-buttons {
	display: flex;
	justify-content: center;
}



ul#nav-header li:hover,ul#nav-header li.ui-state-active  {
	/* background-image: url("../../images/buttons/button-bg.webp"); */
	background-color: #f89d06;
	
}

/* .ui-state-active {
	line-height: 64px;
} */


/* #endregion - nav buttons */

/* #region - tabs-content */

.tabs-content {
	margin: auto;

}

.columns {	
	background: rgba(0,0,0,0.70);
	display: inline-block;
	vertical-align: top;
	height: 860px;
	width: 470px;
	overflow-x: hidden;
	overflow-y: auto;
}


/* #endregion - tabs-content */


/* #region - images */

img.buttons {
	width: 225;
	height: 45px;
}

/* #endregion - images */
