body {
	color: white;
	background: 
    url("") 
    top left / 100px 100px
    repeat
    #212121;
	border: 0 solid #000;
	font-family: OpenSans, LatoRegular, RobotoBold, Arial, Helvetica, sans-serif;

}


@font-face {
	font-family: OpenSans;
	src: url(fonts/opensans-regular.ttf);
}

@font-face {
	font-family: OpenSansBold;
	src: url(fonts/opensans-bold.ttf);
}

@font-face {
	font-family: RobotoBold;
	src: url(fonts/roboto-bold.ttf);
}


img,fieldset {
	border: none;
}

/* null margins and padding to give good cross-browser baseline */
html,body,address,blockquote,div,
form,fieldset,caption,
h1,h2,h3,h4,h5,h6,
hr,ul,li,ol,ul,
table,tr,td,th,p,img {
	margin:0;
	padding:0;
}



/* Global */



.container {
	background-color: #262626;
	width: 250px;
	display: inline-block;
	vertical-align: top;
	border: 1px solid #7a8288;
	text-align: center;
	z-index: 100;
	font-weight: bold !important;
}

.common .container {
	margin-top: 4px;
	margin-left: 4px;
}


.tab {
	text-align: center;
	width: 300px !important;
	display: inline-block !important;	
}

.dragIntoBox, .columns {
	display: inline-block;
	width: 260px;
	min-height: 400px;
	margin: 2px;
	border: 1px solid #7a8288;
	resize: vertical;
	overflow: auto;
	vertical-align: top;
}

.dragIntoBox, .columns {
	background: transparent url("../../images/drag-here3.png") no-repeat center 50%;
}

#items {
	width: 1100px;
	height: 100%;
	border: 1px solid #7a8288;
	padding: 2px;
	display: flex;
	flex-wrap: wrap;
}


.rows {
	margin-top: 4px;
	width: 1080px;
	display: block;
	border: 1px solid #FFFFFF;
}


.items {
	margin-top: 4px;
	padding: 2px;
	width: 260px;
	border: 1px solid #04b3f1;
}

#compareBoxes .container {
	margin-left: 2px;
}


iframe {
	height: 40px;
	width: 256px;	
	border: 0;
}

* { 
scrollbar-width: none; 
} 

::-webkit-scrollbar {
  display: none;
}


.hidden {
  display: none;
}


.left {
	margin-left: 4px;
	float: left;
}


.right {
	vertical-align: middle;
	margin-right: 4px;
	float: right;
}


.right .spacer {
	display: inline-block;
	width: 20px;
}

.cheapest .spacer {
	display: inline-block;
	width: 20px;
}


.right .links, .dotPlus {
	font-weight: bold;	
}


.button {
	display: block;	
	color: white;
	margin-top: 2px;
	line-height: 32px;
	text-decoration: none;
	width: 100%;
	font-size: 12px;
	font-weight: bold;
	vertical-align: middle;
}

span.button {
	line-height: 24px;
}

#pot-Griffons-Notes .button.darkBg1, #pot-Detection-Notes .button.darkBg1 {
	line-height: 16px;
}


.dots {
	background-color: #262626;
	border-radius: 50%;
	display: inline-block;
	line-height: 18px;
	width: 18px;
	vertical-align: middle;
}

.dotBlue {
	background-color: #0078D7;
}

.dotGreen {
	background-color: #5ff369;
}


.dotPlus {
	font-size: 12px;	
}

.top, .potLinks .button {
	margin-top: 0 !important;
}

.hr {
	height: 2px;
}

.common .hr {
	height: 10px;
}

.hr2 {
	height: 2px;
	background-color: #33597F;
}


/* .spacer {
	display: inline-block;
	width: 25px;
} */

.icons {
	vertical-align: middle;
}

.icons1 {
	height: 24px;
	width: 24px;	
}

.icons2 {
	height: 32px;
	width: 32px;

}

.icons3 {
	height: 20px;
	width: 20px;

}

.icons4 {
	height: 16px;
	width: 20px;
}

.icons5 {
	height: 22px;
	width: 30px;
}


.icons6 {
	height: 20px;
	width: 24px;
}

.h1,h2 {
	text-align: center;
	font-weight: bold;
}


.alignR {
	margin-left: 26px;
	display: inline-block;
}


.obtaining {
	margin-left: 32px;
}


.smallTxt {
	font-size: 10px;
	margin-bottom: 4px;
}


.info {
	font-size: 14px;	
}

a {
	color: white;
}



a.buttonLink,a.buttonLink:hover, a.links  {
	text-decoration: none;
} 

a.links2:hover {
	color: #757575;
}

/* a.links2:hover {
	color: #4E86BF;
}
 */



.btnNoIcon {
 padding: 5px 0 !important;	
 
}


.amount {
	font-size: 12px;	
	font-weight: bold;
}

.dragHere {
	text-align: center;
	border: 1px dashed #FFFFFF;
	z-index: -10;
}






.blue1 {
	color: #05B4F0;	
}

.blue2 {
	color: #438CCA;	
}

.dark1 {
	color: #424242;	
}

.amount, .gold {
	color: #f6c232;	
}

.gold2 {
	color: #FFD800;	
}



.green1 {
	color: #64dd17;	
}

.green2 {
	color: #82A041;	
}


.orange1 {
	color: #FF8C19;	
}

.red {
	color: #D70A37 !important;	
}

.red2 {
	color: #D70A37 !important;	
}

.yellow {
	color: #438CCA !important;	
}

.dotPlus, .white {
	color: #FFFFFF;	
}

 .cheapest, .notes, .usedin {
	background-color: #66463E;	
}

.cheapest .buttonLink, .notes .buttonLink, .usedin .buttonLink {
	color: #BEA082 !important;
}


/* Fruits of */
.fruit-of {
	background-color: #284664;	
}

.FoA {
	background-color: #0097a7;	
}

.FoCF {
	background-color: #ad1457;	
}

.FoD {
	background-color: #d84315;	
}

.FoE {
	background-color: #8e24aa;	
}

/* Purple 6a1b9a */

.FoMP {
	background-color: #4527a0;	
}

.FoN {
	background-color: #2e7d32;	
}

.FoP {
	background-color: #37474f;	
}


.FotS {
	background-color: #BE8C1E;	
}

/* Fruits of End */


/* Traces of */

.ToA {
	background-color: #558b2f;	
}

.ToB {
	background-color: #883410;	
}

.ToC {
	background-color: #424242;	
}

.ToD {
	background-color: #eeeeee;	
}

.ToD2 {
	background-color: #00695c;	
}

.TotE {
	background-color: #5d4037;	
}

.ToH {
	background-color: #5c6bc0;	
}

.ToF {
	background-color: #2e7d32;	
}

.ToM {
	background-color: #ffc400;	
}

.ToO {
	background-color: #f48fb1;	
}

.ToS {
	background-color: #b71c1c;	
}

.ToV {
	background-color: #26a69a;	
}

.ToW {
	background-color: #00bcd4;	
}

/* Fruits of End */




.noBG {
	background-color: transparent !important;
}


/* Really Dark Blue 19324B */

.blueBg1 {
	background-color: #1E3C5A;	
}

.blueBg2, .clr, .ppr {
	background-color: #284664;	
}

.blueBg3 {
	background-color: #33597F;	
}

/* Dodger Blue */
.blueBg4 {
	background-color: #4E86BF;	
}

.blueBg5 {
	background-color: #1565c0;	
}

.brownBg1 {
	background-color: #AA820A;
}

/* Vinegar - AA820A, 96780A, 82640A, 735A0A, 644B0F */

.darkBg1 {
	background-color: #2D2D2D;		
}

.darkBg2 {
	background-color: #383838;		
}

.darkBg3 {
	background-color: #4C4C4C;		
}

.darkBg4 {
	background-color: #5B5B5B;		
}

.goldBg1 {
	background-color: #FFD800 !important;	
}

.greenBg1 {
	background-color: #1b5e20 !important;	
}

.greenBg2 {
	background-color: #2e7d32 !important;	
}



.orangeBg1 {
	background-color: #ff6d00 !important;	
}



.purpleBg {
	background-color: #320064 !important;		
}

.purpleBg2 {
	background-color: #4527a0 !important;		
}

4527a0

.redBg1 {
	background-color: #7F0000;		
}


.redBg2 {
	background-color: #8C0000;		
}

.redBg3 {
	background-color: #8C0000;		
}


/*
.submenu1 {
	margin-left: 8px;	
}

.submenu2 {
	margin-left: 12px;
}

.submenu3 {
	margin-left: 16px;
}
*/


/*
a.header-links:hover, a.header-links:active {
	background-color: #285082;
}

a.header-links2:hover, a.header-links2:active {
	background-color: #19324B;
}

a.header-links3:hover, a.header-links3:active {
	background-color: #19324B;
}
*/

/* Theme End */