@import url(../css/layout.css);


/* #region - GLOBAL */
body {
	color: white;
	background: 
    url("") 
    top left / 100px 100px
    repeat
    #282A35;
	border: 0 solid #000;
	font-family: RobotoRegular, RobotoBold, LatoRegular, Arial, Helvetica, sans-serif;

}

@font-face {
	font-family: Consola;
	src: url(fonts/consola.TTF);
}

@font-face {
	font-family: LatoRegular;
	src: url(fonts/lato-regular.ttf);
}

@font-face {
	font-family: OpenSansBold;
	src: url(fonts/opensans-bold.ttf);
}

@font-face {
	font-family: OpenSansBold;
	src: url(fonts/opensans-bold.ttf);
}

@font-face {
	font-family: RobotoRegular;
	src: url(fonts/roboto-regular.ttf);
}

@font-face {
	font-family: RobotoBold;
	src: url(fonts/roboto-bold.ttf);
}


img,fieldset {
	border: none;
}

/* null margins and padding to give good cross-browser baseline */
html,body,address,blockquote,div,
form,fieldset,caption,
h1,h2,h3,h4,h5,h6,
hr,ul,li,ol,ul,
table,tr,td,th,p,img {
	margin:0;
	padding:0;
}


.hidden {
	display: none;
}

/* #endregion - GLOBAL */


/* #region - links */


a:link {
	color: #1e88e5;
}

a.discord {
	color: #5865F2;
}

a.youtube {
	color: #d50000;
}

h2 a.header-link {
	color: #fafafa;
}



/* visited link */
a:visited {
	color: #fafafa; 
}

/* mouse over link */
a:hover {
	color: #b71c1c;
}

/* selected link */
a:active {
	color: #1e88e5;
}


.header-link {
	line-height: 75px;
}

#main-nav-container a,.header-link,.img-link {
	text-decoration: none;
}

/* #endregion - links */

ul {
	list-style-type: none;
}
 

#content-container,.content-container, .content-container-block, .code-block1,.code-block2, .codes-block,.img-example,.item-example {
	position: relative;
	margin: 0 auto;
}

#content-container {
	top: 0;
	background-color: transparent;
	width: 1890px;
	min-height: 1200px;
	vertical-align: top;
	border: 2px solid #7a8288;
	text-align: center;
}

.columns {
	display: inline-block;
}

.columns,.content-container {
	vertical-align: top;
	overflow-x: hidden;
	overflow-y: auto;
}

/* W 1470px */
/* H 1050px */
.content-container {
	min-height: 2200px;
	border: 0 solid #7a8288;
	text-align: center;
}

/* #region - code text */
.content-container-block {
	background-color: #262626;
	border: 1px solid #000;
	width: 1800px;
	min-height: 2400px;
	line-height: 36px;
}

.showonlyone-content .columns {
	width: 850px;
	min-height: 2000px;
	border: 2px solid #7a8288;
}


.plus-minus,.examples .plus-minus-fa,.examples-notes .plus-minus-fa {
	display: inline-block;
	top: 5px;
	position: relative;
	color: #fafafa;
}

.examples .plus-minus-fa {
 	font-size: 40px;
	top: 0;
}


.spacer-width {
	display: inline-block;
	width: 20px;
}

.scrolling-content {
	overflow-x: hidden; /* Hide horizontal scrollbar */
	overflow-y: scroll; /* Add vertical scrollbar */
}

/* #region - NAVS GLOBAL */



/* 	margin: 0 auto; */
/* #region - TOP NAV */


#top-nav-content {
	margin: 0 auto;
	text-align: center;
	width: 25%; /* 990px */
}


/* #endregion - TOP NAV */






a.nav-main-link,a.nav-resource-link {
	display: block;
	font-size: 24px;
	color: white;
}


/* #endregion - NAVS GLOBAL */









/* #region - text */

.warning,.searchable-tables td {
	font-size: 24px;
	line-height: 24px;
}

h1 {
	font-size: 48px;
	line-height: 50px;
}

h2 {
	font-size: 40px;
	line-height: 36px;
}

h3 {
	font-size: 32px;
	line-height: 32px;
}

h4 {
	font-size: 24px;
}







/* #endregion - text */




/* #region - images */



/* #endregion - images */


/* #region - Tables */



/* #endregion - Tables */

