@import "github-dark-dimmed-theme.css";
@import "../../../scripts/css/layout.css";

/* #region - GLOBAL */
body {
	color: white;
	background: 
    url("") 
    top left / 100px 100px
    repeat
    #282A35;
	border: 0 solid #000;
	font-family: RobotoRegular, RobotoBold, LatoRegular, Arial, Helvetica, sans-serif;

}


@font-face {
	font-family: Consola;
	src: url(fonts/consola.TTF);
}

@font-face {
	font-family: LatoRegular;
	src: url(fonts/lato-regular.ttf);
}

@font-face {
	font-family: OpenSansBold;
	src: url(fonts/opensans-bold.ttf);
}

@font-face {
	font-family: OpenSansBold;
	src: url(fonts/opensans-bold.ttf);
}

@font-face {
	font-family: RobotoRegular;
	src: url(fonts/roboto-regular.ttf);
}

@font-face {
	font-family: RobotoBold;
	src: url(fonts/roboto-bold.ttf);
}


img,fieldset {
	border: none;
}

/* null margins and padding to give good cross-browser baseline */
html,body,address,blockquote,div,
form,fieldset,caption,
h1,h2,h3,h4,h5,h6,
hr,ul,li,ol,ul,
table,tr,td,th,p,img {
	margin:0;
	padding:0;
}


.hidden {
	display: none;
}

/* #endregion - GLOBAL */


/* #region - links */





.header-link {
	line-height: 75px;
}

#main-nav-container a,.header-link,.img-link {
	text-decoration: none;
}

/* #endregion - links */

ul {
	list-style-type: none;
}
 

#content-container,.content-container, .content-container-block, .code-block1,.code-block2, .codes-block,.img-example,.item-example {
	position: relative;
	margin: 0 auto;
}

#content-container {
	top: 0;
	background-color: transparent;
	width: 1890px;
	vertical-align: top;
	border: 2px solid #7a8288;
	/* text-align: center; */
}

.columns {
	display: inline-block;
}

.columns,.content-container {
	vertical-align: top;
	overflow-x: hidden;
	overflow-y: auto;
}

/* W 1470px */
/* H 1050px */
.content-container {
	min-height: 2200px;
	border: 0 solid #7a8288;
	text-align: center;
}

/* #region - code text */
.content-container-block {
	background-color: #262626;
	border: 1px solid #000;
	width: 1800px;
	min-height: 2400px;
	line-height: 36px;
}

.showonlyone-content .columns {
	width: 850px;
	min-height: 2000px;
	border: 2px solid #7a8288;
}


.plus-minus,.examples .plus-minus-fa,.examples-notes .plus-minus-fa {
	display: inline-block;
	top: 5px;
	position: relative;
	color: #fafafa;
}

.examples .plus-minus-fa {
 	font-size: 40px;
	top: 0;
}


.spacer-width {
	display: inline-block;
	width: 20px;
}

.scrolling-content {
	overflow-x: hidden; /* Hide horizontal scrollbar */
	overflow-y: scroll; /* Add vertical scrollbar */
}

/* #region - NAVS GLOBAL */



/* 	margin: 0 auto; */


.discord-button {
	background-color: #5865F2;	
}

.discord-button:hover {
	background-color: #5E6EFF;	
}

.seven-days-wiki-button {
	background-color: #b71c1c;	
}

.seven-days-wiki-button:hover {
	background-color: #c62828;	
}

.yt-button {
	background-color: #d50000;	
}

.yt-button:hover {
	background-color: #ff0000;	
}

.w3schools-button {
	background-color: #058255;	
}

.w3schools-button:hover {
	background-color: #069963;	
}

.cheatsheet-button {
	background-color: #1565c0;	
}

/* .cheatsheet-button:hover {
	background-color: #1565c0;	
} */





/* #endregion - NAVS GLOBAL */

/* #region - TOP NAV */

/* Navbar container */
.top-navbar-container {
	overflow: hidden;
	background-color: #212121;
}

/* Links inside the top-navbar */
.top-navbar-container a {
	float: left;
	text-decoration: none;
}

.top-navbar-container a,.dropdown .dropbtn,.dropdown-content a {
	color: white;
	padding: 14px 16px;
	font-size: 20px;
}

#top-nav-content {
	margin: 0 auto;
	width: 990px;
}

/* The dropdown container */
.dropdown {
	float: left;
	overflow: hidden;
}

/* Dropdown button */
.dropdown .dropbtn {
	border: none;
	outline: none;
	background-color: inherit;
	font-family: inherit; /* Important for vertical align on mobile phones */
	margin: 0; /* Important for vertical align on mobile phones */
	cursor: pointer;
}

/* Add a red background color to top-navbar links on hover */
.top-navbar-container a:hover, .dropdown:hover .dropbtn,.dropdown-content a:hover {
	background-color: #0d47a1;
}

/* Dropdown content (hidden by default) */
.dropdown-content {
	display: none;
	position: absolute;
	background-color: #1565c0;
	min-width: 210px;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
	z-index: 100;
}

#specific-xmls-links.dropdown-content {
	height: 560px;
	/* height: 100%; */
}

/* Links inside the dropdown */
.dropdown-content a {
	float: none;;
	padding: 12px 16px;
	text-decoration: none;
	display: block;
	text-align: left;
}



/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
	display: block;
} 




/* #endregion - TOP NAV */

/* #region - CONTENT NAVS */

.nav-tabs li {
	display: inline-block;
	/* text-transform: uppercase; */
}

#content-container li.ui-state-active {
	color: #d50000;
	text-decoration: underline #b71c1c 6px;
	text-underline-offset: 12px;  
}

/* #endregion - CONTENT NAVS */




.code-line-text,.code-explanation-content {
	font-size: 20px;
	line-height: 24px;
}


.code-lines {
	position: relative;
}

#append-example-content1 .code-lines {
	font-size: 20px;
	line-height: 22px;
}

#append-example-content1 .comment {
	font-size: 20px;
}

/* #contains-example-content1 .code-block1 {
	font-size: 20px;
} */


.text-content,.text-content-container {
	font-size: 24px;
	line-height: 32px;
}


#comment-code-block .text-content {
	font-size: 24px;
	line-height: 32px;
}

.comment {
	text-transform: uppercase;
}

.sh-slash-slash-code {
	font-size: 24px;
	line-height: 40px;
}


#appending-block {
	min-height: 500px;
}



#folder-paths-right .code1 {
	font-size: 18px;
}

#folders-content .code4 .code-line2 {
	font-size: 16px;
}




#xpath-basics-code .code-line1 {
	left: 5px;
}

#xpath-basics-code .code-line2 {
	left: 85px;
}

#xpath-basics-code .code-line3 {
	left: 20px;
}

#xpath-basics-code .code-line4 {
	right: 200px;
}


#appending-code .code-line1 {
	right: 65px;
}

#appending-code .code-line2 {
	left: 35px;
}

#appending-code .code-line3 {
	left: 36px;
}

#appending-code .code-line4 {
	right: 225px;
}

#insert-code .code1,#insert-code .code2 {
	display: inline-block;
}

#insert-code .code-line1 {
	right: 35px;
}

#insert-code .code-line2 {
	right: 35px;
}

#insert-code .code-line3 {
	right: 95px;
}

#insert-code .code-line1-2 {
	right: 30px;
}

#insert-code .code-line2-2 {
	right: 30px;
}

#insert-code .code-line3-2 {
	right: 90px;
}

/* #endregion - code text */



/* #region - Input Buttons */
button.copy-text {
	background-color: #04AA6D;
	border: none;
	color: white;
	padding: 8px 16px;
	font-size: 16px;
	text-decoration: none;
	margin: 4px 2px;
	cursor: pointer;
}

input[type=text] {
	font-size: 16px;
	margin: 2px 2px;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

input.appdata,input.font-24px {
	font-size: 24px;	
}

input[type=text], .code-block1,.code-block2,.codes-block {
	border: 2px solid #000;
	background-color: #263238;
	text-decoration: none;
	padding: 8px 8px;
	width: 95%;
	text-align: center;
}

/* #endregion - Input Buttons */


/* #region - Text Areas */



/* #endregion - Text Areas */

/* #region - text */

.warning,.searchable-tables td {
	font-size: 24px;
	line-height: 24px;
}

h1 {
	font-size: 48px;
	line-height: 50px;
}

h2 {
	font-size: 40px;
	line-height: 36px;
}

h3,.color-guide,.searchable-tables th {
	font-size: 32px;
	line-height: 32px;
}

h4.content-header {
	font-size: 26px;
}



#remove-examples .code-block1,
#set-examples .code-block1, #setattribute-examples .code-block1 {
	font-size: 16px;
}


#removeattribute-example-content1 .code-block1 {
	font-size: 22px;	
}



/* .content-header {
	display: inline-block;
} */






/* #endregion - text */

.break {
	height: 10px;
}


/* #region - images */

.img-example,.item-example {
	display: block;
	width: 675px;
	z-index: 1;
}
.img-example-enlarge,.item-example:hover {
	position: absolute;
	-moz-transform: scale(1.25);
	-webkit-transform: scale(1.25);
	transform: scale(1.25);
	z-index: 10;
}


.column-right .img-example {
	width: 800px;
}

#set-examples .img-example {
	width: 98%;
}

#mod-structure1 {
	height: 800px;
}


/* #endregion - images */


/* #region - Tables */


#glossary-table td.attribute-names {
	text-align: left;
}

td.attribute-names .scrolling-content {
	height: 100%;
	overflow-y: hidden;
}

td.notes .scrolling-content {
 height: 420px;
}

.tables {
	margin: 0 auto;
	border-collapse: collapse;
}

img#ui-atlas,img#death_message_twitch,#ui_game_symbol_twitch_boss_bar {
	width: 100%;
	height: 100%;
}

/* #region - ORE COLORS */

/* #map-ore-colors {
	border-collapse: collapse;
} */

#color-palettes-content th, #color-palettes-content td {
	font-size: 32px;
	border: 2px solid #263238;
}

#color-palettes-content th {
	background-color: #b71c1c;
}

#color-palettes-content td {
	font-size: 24px;
	width: 250px;
	height: 250px;
}

#ore-nitrate-default,#ore-oil-shale-default,#ore-nitrate-1 {
	color: #000;
}

#ore-coal-default {
	background-color: #000;
}

#ore-iron-default {
	background-color: #784600;
}

#ore-lead-default {
	background-color: #466E78;
}

#ore-nitrate-default {
	background-color: #fff;
}

#ore-oil-shale-default {
	background-color: #E6B478;
}

#ore-coal-1 {
	background-color: #374650;
}

#ore-iron-1 {
	background-color: #784600;
}

#ore-lead-1 {
	background-color: #C0C0C0;
}

#ore-nitrate-1 {
	background-color: #fff;
}

#ore-oil-shale-1 {
	background-color: #009678;
}

/* #endregion - ORE COLORS */

/* #region - QUALITY COLORS */

#quality-colors-block .row1 .color-palettes-bg1 {
	background-color: #808080;
}

#quality-colors-block .row1 .color-palettes-bg2 {
	background-color: #9C8867;
}

#quality-colors-block .row1 .color-palettes-bg3 {
	background-color: #CF7F29;
}

#quality-colors-block .row1 .color-palettes-bg4 {
	background-color: #A2A41B;
}

#quality-colors-block .row1 .color-palettes-bg5 {
	background-color: #42C234;
}

#quality-colors-block .row1 .color-palettes-bg6 {
	background-color: #315DCE;
}

#quality-colors-block .row1 .color-palettes-bg7 {
	background-color: #A42ACC;
}

#quality-colors-block .row2 .color-palettes-bg1 {
	background-color: #808080;
}

#quality-colors-block .row2 .color-palettes-bg2 {
	background-color: #9C8867;
}

#quality-colors-block .row2 .color-palettes-bg3 {
	background-color: #CF7F29;
}

#quality-colors-block .row2 .color-palettes-bg4 {
	background-color: #A2A41B;
}

#quality-colors-block .row2 .color-palettes-bg5 {
	background-color: #42C234;
}

#quality-colors-block .row2 .color-palettes-bg6 {
	background-color: #315DCE;
}

#quality-colors-block .row2 .color-palettes-bg7 {
	background-color: #A42ACC;
}

/* #endregion - QUALITY COLORS */

/* #region - TEXT COLORS */
/* #endregion - TEXT COLORS */


/* #endregion - Tables */

  



