/* 
f47067 - Pink/Peach Color used for things like HTML/CSS 
768390 - Grey Color used for comments
8ddb8c - Brighter Green used for comments
4caf50 - Green comments / too clashy
43a047 - Green comments
388e3c - Green comments
6A9955 - Darker Green uses for comments
*/


/* #region - XML / VSC COLORS */

.comment,#notes-container a.comment,.comment .greater-than,.comment .less-than  {
	color: #43a047;
}

.string,a.string,input[type=text] {
	color: #96D0FF;
}

.tag,ul.sub-nav-tabs a:link,#notes-container a.tag {
	color: #8DDB8C;	
}

.attribute,.key-presses,ul.sub-nav-tabs a:hover {
	color: #6cb6ff;
}

.greater-than,.less-than,.slash {
	color: #768390;		
}

.xml-name {
	color: #f4511e;
}

/* #endregion - XML / VSC COLORS */









