/* #region - global */

/* 
highlights for highlighting things
highlighted for highlights with black text*
*/

@font-face {
	font-family: rift-soft-bold;
	src: url(../../../../../fonts/rift-soft-bold.ttf);
}

@font-face {
	font-family: acumin-pro-cond-bold;
	src: url(../../../../../fonts/acumin-pro-cond-bold.ttf);
}

body {
	background-color: #212121;
	border: 0 solid #000;
	font-family: rift-soft-bold,acumin-pro-cond-bold,arial, helvetica, sans-serif;
	text-transform: uppercase;
	text-align: center;
}


/* null margins and padding to give good cross-browser baseline */
html,body,address,blockquote,div,
form,fieldset,caption,
h1,h2,h3,h4,h5,h6,
hr,ul,li,ol,ul,p,img {
	margin:0;
	padding:0;
}

img,fieldset {
	border: none;
}

.hidden {
	display: none;
}

.left {
	display: inline-block;
}
.right {
	position: relative;
	display: inline-block;
}


/* #endregion - global */


/* .key-square {
	width: 128px;
	height: 128px;
} */

/* #region - navs */

/* #region - Navs Global | Specific */

ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

ul li {
	display: inline-block;
} 

ul.navs li a,a.img-link  {
	text-decoration: none;
}

ul.nav-loadouts li.nav-separator {
	margin-right: 0;	
}

/* #region - nav header buttons */
#nav-main-buttons {
	display: flex;
	justify-content: center;
	background-color: transparent; /* Remove this line if want to go back to old nav style */
}

ul#nav-main-header li {
	margin-left: -3px; /* 10px if want to go back to old nav style */
	border: 4px solid #263238;
	/* border-radius: 25px; */
}

ul#nav-main-header li:hover,ul#nav-main-header li.nav-main-active  {
	background-color: #6bb7dd;
	border: 4px solid #6bb7dd;
}

/* #endregion - nav header buttons */

ul#nav-main-general-info-tips {
	text-align: left;
}




/* #endregion - Navs Global | Specific */


/* #region - Nav Underlines */









/* #endregion - Nav Underlines */


/* #endregion - navs */



/* #region - text */

.h1 {
	font-size: 48px;
	line-height: 50px;
}

.h2 {
	font-size: 40px;
	line-height: 40px;
}


.h3,.header-text {
	font-size: 24px;
	line-height: 24px;
}

.aka {
	font-size: 24px;
	line-height: 24px;
}


.sup-text {
	vertical-align: super;
	font-size: 16px;
}

.notes-text {
	font-size: 20px;
	line-height: 22px;
}

.image-titles {
	text-align: center;
}

/* #bulk-dets.image-titles {
	font-size: 24px;	
} */

/* 
1 Welcome 
2 General Tips
3 Dwarves
4 Perks 
5 Mission Tips
6 Mods
7 Credits / Links
*/


.info-content .text-content {
	font-size: 24px;
	line-height: 24px;
}



.plus-minus {
	display: inline-block;
	position: relative;
	top: 8px;
 	font-size: 48px;
	color: #fff;
}


/* #region - colors */


body {
	color: #9e9e9e;	
	/* #b3ada4 - other grey */
}

ul.navs li a,
.sup-text,
.white {
	color: #fafafa;
	/* #eceff1 another white */
}




/* #region - header colors */
.general-missions-tips,
.gameplay-tips,
.h1, .h2, .h3, 
.h1 a, .h2 a, .h3 a,
.reg-link,
.header-link,
.highlights,
li.nav-separator,
.beards,
.drg-wiki-rc,
table th {
	color: #6bb7dd;
}

.drg-wiki,a.drg-wiki {
	color: #ff9c00;
}





/* #endregion - header colors */

/* #region - names colors */

/* #region - dwarves colors */

.driller {
	color: #fdd835;
}

.engineer {
	color: #c62828;	
}

.scout {
	color: #1976d2;	
}

.gunner {
	color: #008000;
}

.falconer,a.falconer {
	color: #31caf3;
}

.guardian,a.guardian {
	color: #f4d637;	
}

.retcon,a.retcon {
	color: #d1ceba;
}

.slicer,a.slicer {
	color: #05ec46;
}

.spotter,a.spotter {
	color: #d43c00;	
}


/* #endregion - dwarves colors */

.brown {
	color: #795548;
}

.discord {
	color: #5865F2;
}

.enemies,.red-sugar {
	color: #e53935;
}

.dark-grey {
	color: #263238;
}

.grey {
	color: #9e9e9e;
}

.red,.warnings,.youtube {
	color: #ff0000;
}

.twitch {
	color: #9146FF;
}

/* #endregion - names colors */

.artifacts,a.artifacts {
	color: #da4542;	
}

.common,a.common {
	color: #b3ada4;	
}

.uncommon,a.uncommon {
	color: #24f28b;	
}

.rare,a.rare {
	color: #46a2f2;	
}

.epic,a.epic {
	color: #c66cc6;	
}

.legendary,a.legendary {
	color: #e28b3c;	
}



/* #region -  mission colors */

.active-perk {
	color: #4bbfa5;
}

.active-perk2 {
	background-color: #4bbfa5;
}

.passive-perk {
	color: #b93253;
}

.passive-perk2 {
	background-color: #b93253;
}

.gauntlets, a.gauntlets {
	color: #ffb000;
}


.mules {
	color: #00d6d9;
}

.flare-gun {
	color: #ffeb3b;
}

.flare-gun2 {
	background-color: #ffeb3b;
}

/* #endregion - mission colors */

/* #region - gems / minerals colors & More */


.expenite {
	color: #68C900;
}

.c4,.shield-generator {
	color: #43a047;
}

.c4-2,.shield-generator2 {
	background-color: #43a047;
}

.he-grenade,.gameplay-mission-equipment {
	color: #bf360c;
}

.he-grenade2 {
	background-color: #bf360c;
}


.text-throwables {
	color: #d84315;
}

.dwarf-rituals,.gameplay-environment {
	color: #8bc34a;
}

/* #endregion - gems / minerals colors & More */

/* #region - Weapons Colors & More */
.autocannon,.beltstrom,.grappling-hook,.ripper,.smart-rifle,.text-secondary {
	color: #2e7d32;
}

.autocannon2,.grappling-hook2,.ripper2,.smart-rifle2 {
	background-color: #2e7d32;
}

.autocannon2,.brt7-2,.grappling-hook2,.smart-rifle2 {
	background-color: #1b5e20;
}

.auto-shotgun,
.boltshark,
.coil-gun,
.drills,
.mm4-charge-blaster,
.resources-buried-gems {
	color: #8d6e63;
}

.auto-shotgun2,.boltshark2,.coil-gun2,.drills2 {
	background-color: #8d6e63;
}

.axes,.shredder-drones,.zhukov {
	color: #607d8b;
}

.axes2,.shredder-drones2,.zhukov2 {
	background-color: #607d8b;
}

.boomstick,.bulldog-revolver,.leadburster {
	color: #795548;	
}

.boomstick2,.bulldog-revolver2,.leadburster2 {
	background-color: #795548;
}

.brt7 {
	color: #1b5e20;
}

.cyro,.cyro-grenade {
	color: #03a9f4;
}

.cyro2,.cyro-grenade2 {
	background-color: #03a9f4;
}

.deepcore-40mm {
	color: #616161;
}

.deepcore-40mm2 {
	background-color: #607d8b;
}

.deepcore-gk2,.text-primary,.dwarf-lingo,.subata, #dwarf-lingo .h1,#dwarf-lingo .h1 a,.gameplay-dwarves,.voltaic-stun-sweeper {
	color: #1e88e5;
}

.deepcore-gk2-2,.subata2 {
	background-color: #1e88e5;
}


.breach-cutter,.drak-25,.audio-visual,.plasma-burster,.suggestion-enhancements {
	color: #ba68c8;
	/* 9c27b0 - darker purple */
}

.breach-cutter2,.drak-25-2,.plasma-burster2 {
	background-color: #ba68c8;
}

.cluster-grenade {
	color: #558b2f;	
}

.cluster-grenade2 {
	background-color: #558b2f;
}

.epc {
	color: #7e57c2;	
}

.epc2 {
	background-color: #7e57c2;
}

.fire,.sandbox,.unstable {
	color: #de3800;
}

.fire2,.unstable2 {
	background-color: #de3800;
}

.hurricane {
	color: #b71c1c;
}

.hurricane2 {
	background-color: #b71c1c;
}

.ifg {
	color: #26c6da;
}

.ifg2 {
	background-color: #26c6da;
}

.incendiary-grenade {
	color: #f4511e;
}

.incendiary-grenade2 {
	background-color: #f4511e;
}

.m1000, .misc-mods {
	color: #29b6f6;
}

.m1000-2 {
	background-color: #29b6f6;
}

.minigun {
	color: #546e7a;	
}

.minigun2 {
	background-color: #546e7a;
}

.platform-gun {
	color: #fbc02d;		
}

.platform-gun2 {
	background-color: #fbc02d;		
}

.sentry {
	color: #388e3c;		
}

.sentry2 {
	background-color: #388e3c;		
}

.proximity-mine,.shard-diffractor {
	color: #d84315;
}

.proximity-mine2,.shard-diffractor2 {
	background-color: #d84315;
}

.sludge {
	color: #cddc39;
}

.sludge2 {
	background-color: #cddc39;
}

.stubby-smg {
	color: #2196f3;
}

.stubby-smg2 {
	background-color: #2196f3;
}

.wave-cooker,.dwarves-gameplay,.general-info-tips,.green,.lure,.sticky-grenade,.qol,.verified  {
	color: #4caf50;	
}

.wave-cooker2,.lure2,.sticky-grenade2 {
	background-color: #4caf50;
}

.zip-line-launcher {
	color: #ef6c00;
}

.zip-line-launcher2 {
	background-color: #ef6c00;
}

/* #endregion - Weapons Colors  & More */

/* #region - background colors */

ul#nav-main-header li,
.background-text {
	background-color: #263238;
}


/* #endregion - background colors */





/* #endregion - colors */


/* #region - links */



/* #region - global links */

/* Info Equipment Tab */


a.active-perk2,a.highlighted,a.passive-perk2 {
	color:#000;
}

a.highlighted,a.reg-link {
	text-decoration: underline;
}




/* #endregion - global links */

/* #region - links - backgrounds */




/* #endregion - links - backgrounds */





/* #endregion - links */


/* #endregion - text */


/* #endregion - global */

/* #region - main content */


/* #endregion - main content */

/* #region - tabs-content */



.tabs-content {
	position: relative;
	margin: auto;
	z-index: 200;
	width: 1575px;
	height: 975px; /* 100% */
	background: rgba(0,0,0,0.75);
}


/* #region - columns */

.columns-container {
	margin-right: 8px;
}

.columns,.columns-container,.column-left,.column-right {
	position: relative;
	display: inline-block;
	vertical-align: top;
	overflow-x: hidden;
	overflow-y: auto;
}

body#dwarves-classes-tips .columns,
body#general-tips .columns {
	height: 850px;
	width: 1125px;
}


body#mods .columns {
	width: 370px;
	height: 520px;
}

body#links .columns {
	width: 100%;
	height: 100%;
}

/* #endregion - columns */

/* #region - tables */

table {
	display: table;
	margin:0 auto;
	width: 1050px;
}

table, th, td {
	border-collapse: collapse;
}


table th {
	font-size: 48px;
	line-height: 56px;
}

table th, table td {
	border: 4px solid #546e7a;
}

.tips {
	vertical-align: top;
/* 	border-top: 4px solid #546e7a;
	border-bottom: 4px solid #546e7a; */
	/* height: 50px; */
}

td.text-tips {
	width: 500px;
}


table.tips-content {
	width: 100%;
}




/* #endregion - tables */


/* #endregion - tabs-content */


/* #region - images */

.icons {
	position: relative;
	top: 5px;
	width: 32px;
	height: 32px;
}

.h1 .icons {
	width: 48px;
	height: 48px;
}



.full {
	vertical-align: top;
	width: 480px;
	height: 272px;
	/* transition: transform .2s;			 */
}

/* .full:hover {
	transform: scale(1.35);
} */

.overclock-icons,.weapon-icons {
	position: relative;
}
.overclock-icons {
	top: 10px;
	left: 4px;
	width: 48px;
	height: 48px;
}

.key-overclock-icons {
	width: 128px;
	height: 128px;
}

.weapon-icons {
	top: 10px;
	width: 48px;
	height: 48px;
}

.epc-icon {
	width: 64px;
}

.shard-diffractor-icon,
.coil-gun-icon,
.subata-icon {
	width: 72px;
}

.boomstick-icon {
	width: 96px;
}



.full2 {
	width: 768px;
	height: 432px;
	transition: transform .2s;	
}

.full2:hover {
	transform: scale(1.35);
}

.tall {
	width: 35%;
	height: 75%;
}

img.buttons {
	width: 185px;
}

.scroll-down {
	position: absolute;
	right: 5px;
	width: 64px;
	height: 50px;
}

.creatures-enemies-tips .icons {
	width: 128px;
	height: 128px;
}

td.tips img.full {
	transition: transform .2s;	
}

td.tips img.full:hover {
	transform: scale(1.20);
	z-index: 100;
}

#buried-gems-tips td.tips img.full:hover {
	transform: scale(1.20);
}


.stun-sweeper {
	width: 85px;
	height: 220px;
}


a.reg-link .nav-icons,
a.img-link .nav-icons,
ul .nav-icons,
.h1 a.reg-link .nav-icons,
#nav-minerals-tips .nav-icons,
.header-icons {
	position: relative;
}

ul .nav-icons,.h1 a.reg-link .nav-icons,.header-icons  {
	top: 8px;
	/* width: 48px; */
	height: 48px;
	left: 0;
}


a.reg-link .nav-icons,a.img-link .nav-icons,#nav-minerals-tips .nav-icons {
	top: 4px;
	width: 32px;
	height: 32px;
	left: 4px;
}


.rock-n-stone, 
.deep-dive-icon  {
	width: 40px;
	height: 52px;
	position: relative;
	top: 5px;
}




/* #endregion - images */
