body#dwarves-classes-tips {
	background: 
	#212121
    url("https://deeprockgalactic.wiki.gg/images/Skin-Body-Background-Rogue-Core-Keyart.jpg") 
	top center / 100% 100%
	no-repeat;
	background-size: cover;
}

body#dwarves-classes-tips .tabs-content {
	background: rgba(0,0,0,0.90);	
}

ul#nav-dwarves-classes-tips li,
ul.nav-dwarves-tips,
ul.nav-builds-tips {
	font-size: 48px;
}

.loadouts-content .nav-dwarves-tips {
	font-size: 32px;
}

.loadouts-content .nav-dwarves-tips .nav-icons {
	position: relative;
	top: 4px;
	/* width: 48px; */
	height: 32px;
	left: 0;
}


ul#nav-dwarves-classes-tips li {
	width: 200px;
}

#nav-slicer-throwables-content {
	font-size: 32px;
}

.nav-dwarves-tips a,
.nav-loadouts a,
.nav-builds-tips a {
	background-color: #263238;
}

.nav-dwarves-tips a,
.nav-loadouts a,
.nav-builds-tips a {
	border: 4px solid #263238;
}

ul.nav-dwarves-tips,ul.nav-loadouts,ul.nav-builds-tips {
	line-height: 72px;
}

ul.nav-builds-tips {
	margin-bottom: 12px;
}


ul.nav-loadouts {
	font-size: 40px;
}

.throwables-content .nav-sub {
	font-size: 32px;
	line-height: 48px;
}

#dwarves-tips,table.loadout-builds .fa-circle {
	position: relative;
}

table td {
	vertical-align: top;
}

table.overclock-colors-key th,
table.overclock-colors-key td {
	border: 0 solid #546e7a;
}

table.overclock-colors-key .background {
	background-color: transparent;
}

table.weapon-tips,
table.weapon-builds {
	width: 1050px;
}

table.skills-content,
table.weapon-tips {
	font-size: 24px;
	line-height: 32px;
}


table.weapon-builds,
.loadouts-content .table-headers {
	line-height: 40px;
}


table.weapon-builds,
.perk-decks-comments {
	font-size: 32px;
}

table.loadout-builds {
	min-height: 500px;
}

table.loadout-builds th {
	height: 20px;
}

table.loadout-builds td {
	width: 500px;
	font-size: 24px;
}

table.loadout-builds .plus-minus {
	font-size: 64px;
}

table.loadout-builds .fa-circle {
	top: -4px;
	font-size: 12px;
}

table.loadout-builds .h1 {
	line-height: 64px;
}

table.loadout-builds .h1 .background {
	text-decoration: none;
}

table.loadout-builds .text-content-container {
	position: relative;
	top: -20px;
}


.loadout-builds-upgrades .h3 {
	color: #9e9e9e;
}

#dwarves-tips {
	top: 25px;
}

body#dwarves-classes-tips .columns {
	height: 850px;
	width: 1125px;
}

body#dwarves-classes-tips .column-left {
	height: 810px;
	width: 420px;
}

.dwarves-loadouts-info,
.playstyle-content .text-content {
	font-size: 24px;
}

.dwarves-loadouts-info,
.playstyle-content .text-content {
	line-height: 32px;
}

.info-content .nav-dwarves-tips {
	font-size: 40px;
}

.perk-decks .h2 {
	font-size: 36px;
}


/* #region -  Dwarves colors */

ul.navs a.falconer,
#falconer-tips-content-container li.nav-separator,
.falconer-navs li.ui-state-active a {
	color: #31caf3;
}

#falconer-tips-content {
	border: 4px solid #31caf3;
}

ul.navs a.guardian,
#guardian-tips-content-container li.nav-separator,
.guardian-navs li.ui-state-active a {
	color: #f4d637;
}

#guardian-tips-content {
	border: 4px solid #f4d637;
}

ul.navs a.retcon,
#retcon-tips-content-container li.nav-separator,
.nav-dwarves-tips#nav-retcon-tips li.ui-state-active a,
.retcon-navs li.ui-state-active a {
	color: #d1ceba;
}

#retcon-tips-content {
	border: 4px solid #d1ceba;
}

ul.navs a.slicer,
#slicer-tips-content-container li.nav-separator,
.slicer-navs li.ui-state-active a {
	color: #05ec46;
}

#slicer-tips-content {
	border: 4px solid #05ec46;
}

ul.navs a.spotter,
#spotter-tips-content-container li.nav-separator,
.spotter-navs li.ui-state-active a {
	color: #d43c00;
}

#spotter-tips-content {
	border: 4px solid #d43c00;
}

.upgrades-loadouts .h3 {
	color: #9e9e9e;
}

/* #endregion - Dwarves colors */

/* #region - NAVS */


/* #endregion - NAVS */

/* #region - Equipment|Weapons Border-Top Colors */


/* #endregion - Dwarves Loadouts Table Borders */


/* #region - Images */

#falconer-portrait,
#guardian-portrait,
#retcon-portrait,
#slicer-portrait,
#spotter-portrait {
	height: 200px;
}

#falconer-portrait {
	width: 180px;
}

#guardian-portrait {
	width: 180px;
}

#retcon-portrait {
	width: 120px;
}

#slicer-portrait {
	width: 200px;
}

#spotter-portrait {
	width: 190px;
}

/* #region - Image Tips */

.armor-rig-img {
	width: 384px;
	height: 384px;		
}

.h1 a .dwarves-icons,.table-headers .header-icons {
	position: relative; 
}

.h1 a .dwarves-icons,.h1 .header-icons {
	top: 8px;	
}

.h1 a .dwarves-icons,.h1 .header-icons,.perk-deck-all-in {
	width: 48px;
	height: 48px;		
}

table.skills-content .header-icons {
	/* width: 64px; */
	height: 64px;
}

table.skills-content .table-headers .header-icons {
	top: 4px;
	width: 64px;
}





/* #endregion - Image Tips */

/* #endregion - Images */












