body#dwarves-classes-tips {
	background: 
	#212121
    url("https://deeprockgalactic.wiki.gg/images/Skin-Body-Background-Rogue-Core-Keyart.jpg") 
	top center / 100% 100%
	no-repeat;
	background-size: cover;
}

body#dwarves-classes-tips .tabs-content {
	background: rgba(0,0,0,0.90);	
}

ul#nav-main-dwarves-tips li,ul.nav-dwarves-tips,ul.nav-builds-tips {
	font-size: 48px;
}

ul#nav-main-dwarves-tips li {
	width: 200px;
}

#nav-slicer-throwables-content {
	font-size: 32px;
}

.nav-dwarves-tips a,
.nav-loadouts a,
.nav-builds-tips a {
	background-color: #263238;
}

ul.nav-dwarves-tips,ul.nav-loadouts,ul.nav-builds-tips {
	line-height: 72px;
}

ul.nav-builds-tips {
	margin-bottom: 12px;
}


ul.nav-loadouts {
	font-size: 40px;
}

.throwables-content .nav-sub {
	font-size: 32px;
	line-height: 48px;
}

table td {
	vertical-align: top;
}

table.overclock-colors-key th,
table.overclock-colors-key td {
	border: 0 solid #546e7a;
}

table.overclock-colors-key .background-text {
	background-color: transparent;
}

table.weapon-tips,
table.weapon-builds {
	width: 1050px;
}

table.skills-content,table.weapon-tips {
	font-size: 24px;
	line-height: 32px;
}


table.weapon-builds {
	font-size: 32px;
	line-height: 40px;
}

.perk-decks-comments {
	font-size: 32px;
}

#dwarves-tips {
	position: relative;
	top: 25px;
}

body#dwarves-classes-tips .column-left {
	height: 800px;
	width: 420px;
}

.dwarves-loadouts-info,
.playstyle-content .text-content {
	font-size: 24px;
}

.dwarves-loadouts-info,
.playstyle-content .text-content {
	line-height: 32px;
}

.info-content .nav-dwarves-tips {
	font-size: 40px;
}

.perk-decks .h2 {
	font-size: 36px;
}


/* #region -  Dwarves colors */

#dwarves-tips-1 li.nav-separator,
.nav-dwarves-tips#nav-falconer-tips li.ui-state-active a,
.nav-dwarves-tips#nav-falconer-info li.ui-state-active a {
	color: #31caf3;
}

#dwarf-falconer-tips-content {
	border: 4px solid #31caf3;
}

#dwarves-tips-2 li.nav-separator,
.nav-dwarves-tips#nav-guardian-tips li.ui-state-active a,
.nav-dwarves-tips#nav-guardian-info li.ui-state-active a {
	color: #f4d637;
}

#dwarf-guardian-tips-content {
	border: 4px solid #f4d637;
}

#dwarves-tips-3 li.nav-separator,
.nav-dwarves-tips#nav-retcon-tips li.ui-state-active a,
.nav-dwarves-tips#nav-retcon-info li.ui-state-active a {
	color: #d1ceba;
}

#dwarf-retcon-tips-content {
	border: 4px solid #d1ceba;
}

#dwarves-tips-4 li.nav-separator,
.nav-dwarves-tips#nav-slicer-tips li.ui-state-active a,
.nav-dwarves-tips#nav-slicer-info li.ui-state-active a {
	color: #05ec46;
}

#dwarf-slicer-tips-content {
	border: 4px solid #05ec46;
}

#dwarves-tips-5 li.nav-separator,
.nav-dwarves-tips#nav-spotter-tips li.ui-state-active a,
.nav-dwarves-tips#nav-spotter-info li.ui-state-active a {
	color: #d43c00;
}

#dwarf-spotter-tips-content {
	border: 4px solid #d43c00;
}



/* #endregion - Dwarves colors */

/* #region - NAVS */


/* #endregion - NAVS */

/* #region - Equipment|Weapons Border-Top Colors */


/* #endregion - Dwarves Loadouts Table Borders */


/* #region - Images */

#falconer-portrait,
#guardian-portrait,
#retcon-portrait,
#slicer-portrait,
#spotter-portrait {
	height: 200px;
}

#falconer-portrait {
	width: 180px;
}

#guardian-portrait {
	width: 180px;
}

#retcon-portrait {
	width: 120px;
}

#slicer-portrait {
	width: 200px;
}

#spotter-portrait {
	width: 190px;
}

/* #region - Image Tips */

.armor-rig-img {
	width: 384px;
	height: 384px;		
}

.h1 a .dwarves-icons,.table-headers .header-icons {
	position: relative; 
}

.h1 a .dwarves-icons,.h1 .header-icons {
	top: 8px;	
}

.h1 a .dwarves-icons,.h1 .header-icons,.perk-deck-all-in {
	width: 48px;
	height: 48px;		
}

table.skills-content .header-icons {
	/* width: 64px; */
	height: 64px;
}

table.skills-content .table-headers .header-icons {
	top: 4px;
	width: 64px;
}





/* #endregion - Image Tips */

/* #endregion - Images */
























