body#enhancements-tips {
	background: 
	#212121
    url("https://i.imgur.com/QDlkdJ6.jpg") 
	top center / 100%  100% /* 1080px */
	no-repeat;
	background-size: cover;
}

.columns {	
	height: 800px;
	width: 500px;
}

.text-content {
	font-size: 32px;
	line-height: 32px;
}

