body#general-tips {
	background: 
	#212121
    url("https://i.imgur.com/91BublI.jpg") 
	top center / 100% 100%
	no-repeat;
	background-size: cover;
}


ul#nav-general-info-tips li {
	display: block;
} 

#general-info-tips {
	border: 4px solid #4caf50;
}

#gameplay-tips {
	border: 4px solid #ff9c00;
}

#creatures-enemies-content {
	border: 4px solid #e53935;
}

#resources-tips {
	border: 4px solid #ff4081;
}

#dwarf-lingo {
	border: 4px solid #1e88e5;
}

#dwarf-rituals {
	border: 4px solid #8bc34a;
}

ul li.separator {
	font-size: 36px;
	color: #f89d06;
}

/* #region - Nav General Info Tips */
li.ui-state-active#nav-general-tips a {
	color: #4caf50;
}

li.ui-state-active#nav-general-gameplay-tips a {
	color: #ff9c00;
}

li.ui-state-active#nav-creatures-enemies a {
	color: #e53935;
}

li.ui-state-active#nav-resources a {
	color: #68C900;
}

li.ui-state-active#nav-dwarf-lingo a {
	color: #1e88e5;
}

li.ui-state-active#nav-dwarf-rituals a {
	color: #8bc34a;
}
/* #endregion - Nav General Info Tips */


/* #region - Nav Gameplay Tips */

li.ui-state-active#nav-gameplay-info a {
	color: #ff9c00;
}

li.ui-state-active#nav-gameplay-dwarves a {
	color: #1e88e5;
}

li.ui-state-active#nav-gameplay-mission-equipment a {
	color: #bf360c;
}

li.ui-state-active#nav-gameplay-environment a {
	color: #8bc34a;
}

/* #endregion - Nav Gameplay Tips */

#nav-buried-gems-tips li,#nav-minerals-tips li {
	line-height: 64px;
}

#resources-tips li.separator,#resources-tips-1 li.separator {
	position: relative;
}

#resources-tips-1 li.separator {
	left: 4px;
	font-size: 24px;
}

table.differences {
	font-size: 24px;
}

table.differences td.drg .h2 {
	color: #ff9c00;
}

/* #region - Nav Resources Colors */

/* #endregion - Nav Resources Colors */

/* #region - Nav Buried Gems Colors */
li.ui-state-active#nav-resources-buried-gems a {
	color: #8d6e63;
}

li.ui-state-active#nav-buried-gems-expenite a {
	color: #68C900;
}

/* #endregion - Nav Buried Gems Colors */

/* #region - Nav Minerals Colors */
li.ui-state-active#nav-resources-minerals a {
	color: #68C900;
}

li.ui-state-active#nav-minerals-expenite a {
	color: #68C900;
}

li.ui-state-active#nav-minerals-red-sugar a {
	color: #e53935;
}

/* #endregion - Nav Minerals Colors */


#resources-tips-2 .tips-content,#resources-tips-3 .tips-content {
	position: relative;
	top: 10px;
}

/* #region - Border Colors */

/* #endregion - Border Colors */