body#general-tips {
	background: 
	#212121
    url("https://i.imgur.com/91BublI.jpg") 
	top center / 100% 100%
	no-repeat;
	background-size: cover;
}

body#general-tips .column-left {
	height: 550px;
	width: 350px;
}

body#general-tips .columns {
	height: 850px;
	width: 1190px;
}

ul#nav-main-general-info-tips li {
	display: block;
	line-height: 50px;
}

ul#nav-gear-tips .nav-icons,
ul#nav-main-upgrades-tips .nav-icons  {
	top: 4px;
	/* width: 48px; */
	height: 40px;
	left: 0;
}

#nav-resources-tips li,
#nav-buried-gems-tips,
#nav-minerals-tips {
	font-size: 48px;
}

#nav-gear-tips li,
#nav-main-upgrades-tips li,
#nav-player-upgrades-rarities li {
	font-size: 40px;
}

ul#nav-main-general-info-tips li {
	font-size: 40px;
}


#nav-main-general-info-tips li,
#nav-gameplay-tips li a,
#resources-tips li a,
#nav-gear-tips li a,
#nav-main-upgrades-tips li a,
#nav-player-upgrades-rarities li a {
	background-color: #263238;
}

#nav-main-general-info-tips li.line-break {
	height: 4px;
	background-color: transparent;
}

#nav-gameplay-tips li a {
	line-height: 75px;
}

#gear-tips-content .hidden.text-content-container,
#upgrades-tips-content .hidden.text-content-container {
	margin:0 auto;
	width: 290px;
	background-color: #212121;
}


#general-info-tips {
	border: 4px solid #4caf50;
}

#nav-gameplay-tips li {
	font-size: 40px;
}


#nav-buried-gems-tips li,#nav-minerals-tips li {
	line-height: 64px;
}

#resources-tips li.separator,#resources-tips-1 li.separator {
	position: relative;
}

#resources-tips-1 li.separator {
	left: 4px;
	font-size: 24px;
}

#gear-tips-content,
#upgrades-tips-content {
	font-size: 24px;
}

#gear-tips-content .hidden.text-content-container,
#upgrades-tips-content .hidden.text-content-container {
	font-size: 20px;
}


table.searchable-tables th {
	font-size: 48px;
	line-height: 40px;
	background-color: #212121;
}

table.searchable-tables td {
	vertical-align: top;
	font-size: 24px;
	line-height: 32px;
}

#weapons-data td {
	height: 610px;
}

#traversal-tools-data td,
#support-tools-data td {
	height: 550px;
}

.upgrades-data .nav-icons  {
	position: relative;
	top: 4px;
	/* width: 48px; */
	height: 32px;
	left: 0;
}



li.ui-state-active#nav-rarity-common a,
body#general-tips #upgrades-common .h1.common,
body#general-tips #upgrades-common .h1.common a {
	color: #BeB18c;
}

li.ui-state-active#nav-rarity-uncommon a,
body#general-tips #upgrades-uncommon .h1.uncommon,
body#general-tips #upgrades-uncommon .h1.uncommon a {
	color: #24f28b;
}

li.ui-state-active#nav-rarity-rare a,
body#general-tips #upgrades-rare .h1.rare,
body#general-tips #upgrades-rare .h1.rare a {
	color: #46a2f2;
}

li.ui-state-active#nav-rarity-epic a,
body#general-tips #upgrades-epic .h1.epic,
body#general-tips #upgrades-epic .h1.epic a {
	color: #c66cc6;
}

li.ui-state-active#nav-rarity-legendary a,
body#general-tips #upgrades-legendary .h1.legendary,
body#general-tips #upgrades-legendary .h1.legendary a {
	color: #e28b3c;
}

li.ui-state-active#nav-rarity-artifacts a,
body#general-tips #upgrades-artifacts .h1.artifacts,
body#general-tips #upgrades-artifacts .h1.artifacts a {
	color: #da4542;
}

body#general-tips .upgrades-data .h3 {
	color: #fafafa;
}

#upgrades-image .h1 a.reg-link .nav-icons {
	top: 8px;
	width: 48px;
	height: 64px;
	left: 0;
}

table.searchable-tables img.full {
	width: 50%;
	height: 50%;
}
#trident-des .weapon-image img.full {
	width: 90%;
}

#satchel-charge-c4 .equipment-image img.full,
#shield-generator .equipment-image img.full {
	width: 25%;
}

table.searchable-tables .sup-text {
	font-size: 24px;
}

body#general-tips table.dataTable > tbody > tr > th, 
body#general-tips table.dataTable > tbody > tr > td {
	padding: 0;
}


.h2 .plus-minus {
	position: relative;
	top: 4px;
}


/* #region - Nav General Info Tips */
li.ui-state-active#nav-general-tips a {
	color: #4caf50;
}

li.ui-state-active#nav-general-gameplay-tips a {
	color: #ff9c00;
}

li.ui-state-active#nav-creatures-enemies a {
	color: #e53935;
}

li.ui-state-active#nav-resources a {
	color: #68C900;
}

li.ui-state-active#nav-main-gear a {
	color: #616161;
}

li.ui-state-active#nav-main-upgrades a {
	color: #e28b3c;
}

li.ui-state-active#nav-dwarf-lingo a {
	color: #1e88e5;
}

li.ui-state-active#nav-dwarf-rituals a {
	color: #8bc34a;
}
/* #endregion - Nav General Info Tips */

/* #region - Nav Gameplay Tips */

li.ui-state-active#nav-gameplay-info a {
	color: #ff9c00;
}

li.ui-state-active#nav-gameplay-dwarves a {
	color: #1e88e5;
}

li.ui-state-active#nav-gameplay-mission-equipment a {
	color: #bf360c;
}

li.ui-state-active#nav-gameplay-environment a {
	color: #8bc34a;
}

/* #endregion - Nav Gameplay Tips */

/* #region - Border Colors */

#gameplay-tips {
	border: 4px solid #ff9c00;
}

#creatures-enemies-content {
	border: 4px solid #e53935;
}

#resources-tips {
	border: 4px solid #68C900;
}

#gear-tips-content {
	border: 4px solid #616161;
}

#upgrades-tips-content {
	border: 4px solid #e28b3c;
}

#dwarf-lingo {
	border: 4px solid #1e88e5;
}

#dwarf-rituals {
	border: 4px solid #8bc34a;
}

/* #endregion - Border Colors */

body#general-tips .text-content-container {
	font-size: 32px;
}

/* #region - Tables */

table.differences {
	font-size: 24px;
}

table.differences td.drg .h2 {
	color: #ff9c00;
}

table#dwarf-lingo-tips .notes-text {
	font-size: 24px;
	line-height: 22px;
}

/* #endregion - Tables */

/* #region - Nav Resources Colors */

/* #endregion - Nav Resources Colors */

/* #region - Nav Buried Gems Colors */
li.ui-state-active#nav-resources-buried-gems a {
	color: #8d6e63;
}

li.ui-state-active#nav-buried-gems-expenite a {
	color: #68C900;
}

/* #endregion - Nav Buried Gems Colors */

/* #region - Nav Minerals Colors */
li.ui-state-active#nav-resources-minerals a {
	color: #68C900;
}

li.ui-state-active#nav-minerals-expenite a {
	color: #68C900;
}

li.ui-state-active#nav-minerals-red-sugar a {
	color: #e53935;
}

/* #endregion - Nav Minerals Colors */

/* #region - Nav Weapons and More Tips */

li.ui-state-active#nav-weapons-tips a {
	color: #607d8b;
}

li.ui-state-active#nav-traversal-tools-tips a {
	color: #8d6e63;
}

li.ui-state-active#nav-support-tools-tips a {
	color: #2e7d32;
}

li.ui-state-active#nav-grenades-tips a {
	color: #d84315;
}

li.ui-state-active#nav-player-upgrades-tips a {
	color: #68C900;
}

li.ui-state-active#nav-cooper-upgrades-tips a {
	color: #68C900;
}

/* #endregion - Nav Weapons and More Tips */

#resources-tips-2 .tips-content,#resources-tips-3 .tips-content {
	position: relative;
	top: 10px;
}

/* #region - Border Colors */

/* #endregion - Border Colors */


























