body#missions-tips {
	background: 
	#212121
    url("https://i.imgur.com/UebdQDy.jpg") 
	top center / 100% 100%
	no-repeat;
	background-size: cover;	
}

body#missions-tips .column-left {
	width: 285px;
	height: 445px;
}

body#missions-tips .columns {
	height: 850px;
	width: 1225px;
}

ul#nav-main-missions li {
	text-align: left;
	display: block;
}

#nav-main-missions li,
#nav-bosses li a,
ul#nav-main-events li a,
#nav-main-side-objects li a {
	background-color: #263238;
}

#nav-main-missions li.line-break {
	height: 4px;
	background-color: transparent;
}

ul#nav-main-events .h2 {
	font-size: 24px;
	line-height: 32px;
}

ul#nav-main-events .nav-icons {
	top: 4px;
	/* width: 48px; */
	height: 24px;
	left: 0;
}

.column-right {
	font-size: 24px;
	line-height: 24px;
}

/* .bosses .h1 {
	background-color: #263238;
} */


/* #region -  mission border colors */

#missions-general-tips-content {
	border: 4px solid #4caf50;
}

#missions-bosses-content {
	border: 4px solid #e53935;
}

#missions-events-content {
	border: 4px solid #68C900;
}

#missions-side-objects-content {
	border: 4px solid #616161;
}

#missions-gauntlets {
	border: 4px solid #ffb000;
}

/* #endregion -  mission border colors */

/* #region - Nav Missions Link Colors */

li.ui-state-active#nav-general-tips-link a {
	color: #4caf50;
}

li.ui-state-active#nav-bosses-link a,
li.ui-state-active#nav-gotoorak a,
li.ui-state-active#nav-molaktula a {
	color: #e53935;
}


li.ui-state-active#nav-ramok a {
	color: #e53935;
}

li.ui-state-active#nav-events-link a {
	color: #68C900;
}

ul#nav-main-events li.ui-state-active a {
	color: #68C900;
}


li.ui-state-active#nav-side-objects-link a {
	color: #616161;
}

li.ui-state-active#nav-cameras a {
	color: #616161;
}

li.ui-state-active#nav-data-terminals a {
	color: #f4511e;
}

li.ui-state-active#nav-expenite-buckets a {
	color: #68C900;
}

li.ui-state-active#nav-mules a {
	color: #bf360c;
}

li.ui-state-active#nav-link-gauntlets a {
	color: #ffb000;
}

.bosses table td {
	width: 500px;
}


/* #endregion - Nav Missions Link Colors */


.reaperworm {
	width: 200px;
	height: 260px; 
}

.gotoorak-img1 {
	width: 30%;
	height: 100%; 
}

.gotoorak-img2 {
	width: 40%;
	height: 100%; 
}

.molaktula-img1 {
	width: 370px;
	height: 350px; 
}

.molaktula-img2 {
	width: 370px;
	height: 350px; 
}

.ramok-img2 {
	width: 240px;
	height: 260px; 
}

.ramok-img3 {
	width: 35%;
	height: 260px; 
}

#bosses-icon .h1 .icons-bosses {
	width: 64px;
	height: 64px;
	vertical-align: middle;
}

td#bosses-icon .h1 {
	font-size: 64px;
}