body#perks-tips {
	background: 
	#212121
    url("https://i.imgur.com/h6euCEJ.png") 
	top center / 100%  100% /* 1080px */
	no-repeat;
	background-size: cover;
}

body#perks-tips .columns {	
	height: 800px;
	width: 500px;
}



.perks-arrow {
	position: relative;
	top: 2px;
	width: 14px;
	height: 21px;
}


a.img-link {
	font-size: 24px;
	position: relative;
	top: -8px;
	right: 10px;
}


body#perks-tips .text-content-container {
	font-size: 24px;
	line-height: 32px;
}


#suggested-perks .h1 .plus-minus {
	font-size: 64px;
}

.suggestion-perks a {
	color: #ba68c8;
}

.active-perk a {
	color: #4bbfa5;
}

.passive-perk a {
	color: #b93253;
}

/* #region - perks border colors */

#suggested-perks {
	border: 4px solid #ba68c8;
}

#active-perks {
	border: 4px solid #4bbfa5;
}

#passive-perks {
	border: 4px solid #b93253;
}


/* #endregion - perks border colors */