body {
	color: white;
	background: 
    url("") 
    top left / 100px 100px
    repeat
    #2D2D2D;
	border: 0 solid #000;
	font-family: OpenSans, OpenSansBold, RobotoBold, Arial, Helvetica, sans-serif;

}


@font-face {
	font-family: OpenSans;
	src: url(../fonts/opensans-regular.ttf);
}

@font-face {
	font-family: OpenSansBold;
	src: url(../fonts/opensans-bold.ttf);
}

@font-face {
	font-family: RobotoBold;
	src: url(../fonts/roboto-bold.ttf);
}


img,fieldset {
	border: none;
}

/* null margins and padding to give good cross-browser baseline */
html,body,address,blockquote,div,
form,fieldset,caption,
h1,h2,h3,h4,h5,h6,
hr,ul,li,ol,ul,
table,tr,td,th,p,img {
	margin:0;
	padding:0;
}



/* Global */

#content-container {
	margin: 0 auto;
	position: relative;
	margin-top: 100px;
	background-color: transparent;
	width: 100%;
	vertical-align: top;
	border: 0px solid #7a8288;
	text-align: center;
	z-index: 100;
	font: bold 20px RobotoBold;
}

table {
	margin: 0 auto;
	position: relative;
	margin-top: 100px;	
}

div.hidden {
  	display: none;
}

select { 
	text-align: center;
}

#selectPrimaryObjective {
	width: 275px;
}

#selectSecondaryObjective {
	width: 200px;
}


.hr {
	height: 2px;
}


.icons {
	vertical-align: middle;
}

.icons1 {
	height: 32px;
	width: 32px;	
}

.lengthComplexity {
	height: 25px;
	width: 60px;	
}






a {
	color: white;
}



a.buttonLink,a.buttonLink:hover, a.links  {
	text-decoration: none;
} 

a.links2:hover {
	color: #757575;
}




/* Theme End */