body {
	color: #fafafa;
	background:
    #212121;
	border: 0 solid #000;
	font-family: rift-soft-bold, arial, helvetica, sans-serif;
	text-align: center;
}

/* * {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-size: 100%;
	vertical-align: baseline;
	background: transparent;
} */

@font-face {
	font-family: rift-soft-bold;
	src: url(../../../../fonts/rift-soft-bold.ttf);
}

@font-face {
	font-family: acumin-pro-cond-bold;
	src: url(../../../../fonts/acumin-pro-cond-bold.ttf);
}

/* #region - global */

img,fieldset {
	border: none;
}

/* null margins and padding to give good cross-browser baseline */
html,body,address,blockquote,div,
form,fieldset,caption,
h1,h2,h3,h4,h5,h6,
hr,ul,li,ol,ul,p,img {
	margin:0;
	padding:0;
}

/* * { 
	scrollbar-width: none; 
} 

, ::-webkit-scrollbar {
	display: none;
} */

.hidden {
	display: none;
}

ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

ul li {
	display: inline-block;
} 

li.separator {
	display: inline-block;
	width: 20px;
	font-size: 48px;
}



/* #region - nav header buttons */
#nav-buttons {
	display: flex;
	justify-content: center;
	background-color: transparent; /* Remove this line if want to go back to old nav style */
}

ul#nav-header li {
	margin-left: -3px; /* 10px if want to go back to old nav style */
	background-color: #f89d06;
	border: 4px solid #f89d06;
	/* border-radius: 25px; */
}

ul#nav-header li:hover,ul#nav-header li.ui-state-active  {
	background-color: #2e7d32;
	border: 4px solid #2e7d32;
}




/* ul#nav-header li, img.buttons {
	height: 45px;
} */




/* #endregion - nav header buttons */

/* #region - navs */

/*  Playstyle Tips | Equipment Underline */

/* .nav-dwarves-tips li.ui-state-active {
	text-decoration: underline #f89d06 4px;
} */

#driller-tips li.ui-state-active,#driller-equipment-nav li.ui-state-active {
	text-decoration: underline #fdd835 4px;
}

#engineer-tips li.ui-state-active,#engineer-equipment-nav li.ui-state-active {
	text-decoration: underline #c62828 4px;
}

#gunner-tips li.ui-state-active,#gunner-equipment-nav li.ui-state-active {
	text-decoration: underline #008000 4px;
}

#scout-tips li.ui-state-active,#scout-equipment-nav li.ui-state-active {
	text-decoration: underline #2646ff 4px;
}

#machine-events-nav li.ui-state-active {
	text-decoration: underline #546e7a 4px;
}


ul#nav-general-tips,ul#nav-dwarves,ul#nav-missions {
	position: relative;
	left: 45px;
	width: 415px;
	/* border-top: 4px solid #546e7a; */
}

ul#nav-general-tips,ul#nav-missions {
	text-align: left;
}

ul#nav-general-tips li,ul#nav-missions li {
	display: block;
} 

ul#nav-dwarves {
	top: 40px;
}

ul#nav-general-tips {
	top: 10px;
}

ul#nav-dwarves li {
	width: 200px;
}

ul#machine-events-nav .h2 {
	font-size: 32px;
}


/* #endregion - navs */



/* #region - text */
.aka,#mission-escort-duty-tips .length-complexity-content .table-headers th {
	font-size: 24px;
	line-height: 24px;
}

.dividers {
	margin-left: 10px;
	margin-right: 10px;
}

.h1 {
	font-size: 48px;
	line-height: 50px;
}

.h2 {
	font-size: 36px;
	line-height: 36px;
}

.h3,.header-text {
	font-size: 24px;
	line-height: 24px;
}


.playstyle .text-content {
	font-size: 32px;
}

#machine-events .text-content {
	font-size: 28px;
}

.builds .text-content-container {
	font-size: 32px;
	line-height: 32px;
}





.sup-text {
	vertical-align: super;
	font-size: 16px;
}

.notes-text {
	font-size: 20px;
	line-height: 22px;
}

#dwarf-lingo-tips .notes-text {
	font-size: 24px;
	line-height: 22px;
}

.image-titles {
	font-size: 32px;
}

/* 
1 Welcome 
2 General Tips
3 Dwarves
4 Perks 
5 Mission Tips
6 Mods
7 Credits / Links
*/
#tabs-1 .text-content-container,#tabs-2 .text-content-container {
	font-size: 32px;
	line-height: 32px;
}

#tabs-4 .text-content-container {
	font-size: 24px;
	line-height: 32px;
}

#tabs-6 .text-content-container,#tabs-7 .text-content-container {
	font-size: 24px;
	line-height: 24px;
}


table.weapon-builds .text-content {
	font-size: 20px;
	line-height: 24px;	
}

#tabs-3 .text-content-container,#tabs-5 .text-content-container {
	font-size: 28px;
	line-height: 28px;
}

.plus-minus {
	display: inline-block;
	top: 5px;
	position: relative;
 	font-size: 48px;
	color: #fff;
}






/* #region - colors */


/* #region - header colors */
a.category,.general-missions-tips,.h1, .h2, .h3, .header-link, .highlights, .reg-link,#mission-escort-duty-tips .length-complexity-content .table-headers th {
	color: #ff9c00;
}

.h2.active-perk a {
	color: #4bbfa5;
}

.h2.passive-perk a {
	color: #b93253;
}


/* #endregion - header colors */

/* #region - names colors */

.active-perk {
	color: #4bbfa5;
}

.approved {
	color: #eed202;
}

.brown {
	color: #795548;
}

.discord {
	color: #5865F2;
}

.dwarf-rituals {
	color: #ffc107;
}

.enemies,.red-sugar {
	color: #e53935;
}

.grey {
	color: #9e9e9e;
}

.lingo-definition {
	color: #1e88e5;
}

.no-overclocks2 {
	background-color: #fafafa;
}

.passive-perk {
	color: #b93253;
}

.red,.warnings,.youtube {
	color: #ff0000;
}

.twitch {
	color: #9146FF;
}

.white,.h2.white a  {
	color: #fff;
}

/* .white2,.h2.white2 a,.dividers,.sup-text,.dwarves-tips span.highlighted {
	color: #fafafa;
} */

.sup-text {
	color: #fafafa;	
}

/* #endregion - names colors */

/* #region -  dwarves colors */

.driller,ul#driller-tips li.separator,#driller-equipment-nav .h2 {
	color: #fdd835;
}

#tabs-3 #dwarf-driller {
	border: 4px solid #fdd835;
}


.engineer,ul#engineer-tips li.separator,#engineer-equipment-nav .h2 {
	color: #c62828;
}

#tabs-3 #dwarf-engineer {
	border: 4px solid #c62828;
}

.gunner,ul#gunner-tips li.separator,#gunner-equipment-nav .h2 {
	color: #008000;
}

#tabs-3 #dwarf-gunner {
	border: 4px solid #008000;
}

.scout,ul#scout-tips li.separator,#scout-equipment-nav .h2 {
	color: #1976d2; /* 2646ff */
}

#tabs-3 #dwarf-scout {
	border: 4px solid #1976d2;
}





/* #endregion - dwarves colors */

/* #region -  mission colors */

#mission-general-tips {
	border: 4px solid #ffa000;
}

.deep-dives {
	color: #ffb000;
}

#mission-deep-dives {
	border: 4px solid #ffb000;
}

.egg-hunt,.alien-egg {
	color: #b8008c;
}

#mission-egg-hunt {
	border: 4px solid #b8008c;
}

.elimination-dreads {
	color: #dbda00;
}

#mission-dreads {
	border: 4px solid #dbda00;
}

.escort-duty {
	color: #03ffA1;
}

#mission-escort-duty {
	border: 4px solid #03ffA1;
}

.gunk-seed {
	color: #f8bbd0;
}

.industrial-sabotage {
	color: #bb2bff;
}

#mission-industrial-sabotage {
	border: 4px solid #bb2bff;
}

.morkite {
	color: #00695c;
}

#mission-morkite {
	border: 4px solid #00695c;
}


.point-extraction {
	color: #68C900;
}

#mission-aquarqs {
	border: 4px solid #68C900;
}

.on-site-refining {
	color: #0070fe;
}

#mission-liquid-morkite {
	border: 4px solid #0070fe;
}

.mules {
	color: #00d6d9;
}

#mission-mules {
	border: 4px solid #00d6d9;
}


.machine-events {
	color: #546e7a;
}

#mission-machine-events {
	border: 4px solid #546e7a;
}

.ebonite-event {
	color: #78909c;
}

.kursite-event {
	color: #ffeb3b;
}

.omen-event {
	color: #757575;
}

.tritilyte-event {
	color: #d32f2f;
}

#creatures-enemies-content {
	border: 4px solid #e53935;
}

/* #endregion - mission colors */

/* #region - gems / minerals colors */

.aquarq {
	color: #0091ea;
}

.bismor {
	color: #ffea00;
}

.bittergem {
	color: #ff4081;
}

.croppa {
	color: #00838f;
}

.enor-pearl {
	color: #bdbdbd;
}

.gold {
	color: #ffab00;
}

.jadiz {
	color: #43a047;
}

.magnite {
	color: #bf360c;
}

.nitra {
	color: #d50000;
}

.umanite {
	color: #8bc34a;
}

/* #endregion - gems / minerals colors */

/* #region - weapons colors */
.auto-cannon {
	color: #1b5e20;
}

.auto-cannon2 {
	background-color: #1b5e20;
}

.auto-shotgun,.boltshark,.bulldog {
	color: #8d6e63;
}

.auto-shotgun2,.boltshark2,.bulldog2 {
	background-color: #8d6e63;
}

.axes, .deepcore-40mm,.smart-rifle,.subata,.zhukov {
	color: #607d8b;
}

.axes2,.deepcore-40mm2,.smart-rifle2,.subata2,.zhukov2 {
	background-color: #607d8b;
}

.boomstick,.coil-gun {
	color: #37474f;	
}

.boomstick2,.coil-gun2 {
	background-color: #37474f;
}

.burst-gun {
	color: #455a64;
}

.burst-gun2 {
	background-color: #455a64;
}

.cyro {
	color: #03a9f4;
}

.cyro2 {
	background-color: #03a9f4;
}

.deepcore-gk2,.dwarf-lingo,.voltaic-stun-sweeper {
	color: #1e88e5;
}

.deepcore-gk2-2 {
	background-color: #1e88e5;
}

.breach-cutter,.drak-25,.audio-visual,.suggestion-perks {
	color: #ba68c8;
}

.breach-cutter2,.drak-25-2 {
	background-color: #ba68c8;
}

.epc {
	color: #7e57c2;	
}

.epc2 {
	background-color: #7e57c2;
}

.fire,.sandbox,.unstable {
	color: #de3800;
}

.fire2,.unstable2 {
	background-color: #de3800;
}

.hurricane {
	color: #b71c1c;
}

.hurricane2 {
	background-color: #b71c1c;
}

.m1000, .misc-mods {
	color: #29b6f6;
}

.m1000-2 {
	background-color: #29b6f6;
}

.minigun {
	color: #37474f;	
}

.minigun2 {
	background-color: #263238;
}

.shard-diffractor {
	color: #d84315;
}

.shard-diffractor2 {
	background-color: #d84315;
}

.sludge {
	color: #cddc39;
}

.sludge2 {
	background-color: #cddc39;
}

.stubby-smg {
	color: #2196f3;
}

.stubby-smg2 {
	background-color: #2196f3;
}

.wave-cooker,.general-info-tips,.green,.qol,.verified  {
	color: #4caf50;	
}

.wave-cooker2 {
	background-color: #4caf50;
}


/* #endregion - weapons colors */

/* #region - main weapons border colors */
.driller-weapons-cyro {
	border: 4px solid #03a9f4;
}

.driller-weapons-flame {
	border: 4px solid #de3800;
}

.driller-weapons-sludge {
	border: 4px solid #cddc39;
}

.engineer-weapons-auto-shotgun {
	border: 4px solid #8d6e63;
}

.engineer-weapons-smart-rifle {
	border: 4px solid #607d8b;
}

.engineer-weapons-stubby-smg {
	border: 4px solid #2196f3;
}

.gunner-weapons-auto-cannon {
	border: 4px solid #1b5e20;
}

.gunner-weapons-hurricane {
	border: 4px solid #b71c1c;
}

.gunner-weapons-minigun {
	border: 4px solid #263238;
}

.scout-weapons-deepcore-gk2 {
	border: 4px solid #1e88e5;
}

.scout-weapons-drak-25 {
	border: 4px solid #ba68c8;
}

.scout-weapons-m1000 {
	border: 4px solid #29b6f6;
}
/* #endregion - weapons border colors */

/* #region - main weapons border top colors */

/* Cyro-Cannon Border-Top Color */
#driller-equipment-2 {
	border-top: 4px solid #03a9f4;
}

/* Flamethrower Border-Top Color */
#driller-equipment-3 {
	border-top: 4px solid #de3800;
}

/* Sludge Border-Top Color */
#driller-equipment-4 {
	border-top: 4px solid #cddc39;
}

/* Auto Shotgun Border-Top Color */
#engineer-equipment-2 {
	border-top: 4px solid #8d6e63;
}

/* Smart Rifle Border-Top Color */
#engineer-equipment-3 {
	border-top: 4px solid #607d8b;
}

/* Stubby SMG Border-Top Color */
#engineer-equipment-4 {
	border-top: 4px solid #2196f3;
}

/* Auto-Cannon Border-Top Color */
#gunner-equipment-2 {
	border-top: 4px solid #1b5e20;
}

/* Hurricane Border-Top Color */
#gunner-equipment-3 {
	border-top: 4px solid #b71c1c;
}

/* Minigun Border-Top Color */
#gunner-equipment-4 {
	border-top: 4px solid #263238;
}

/* DeepCore-GK2 Border-Top Color */
#scout-equipment-2 {
	border-top: 4px solid #1e88e5;
}

/* DRAK-25 Border-Top Color */
#scout-equipment-3 {
	border-top: 4px solid #ba68c8;
}

/* M1000 Border-Top Color */
#scout-equipment-4 {
	border-top: 4px solid #29b6f6;
}



/* #endregion - equipment border top colors */


/* #region - perks border colors */

#suggested-perks {
	border: 4px solid #ba68c8;
}

#active-perks {
	border: 4px solid #4bbfa5;
}

#passive-perks {
	border: 4px solid #b93253;
}


/* #endregion - perks border colors */


/* #region - mods border colors */

#mint-mod-program {
	border: 4px solid #ff9c00;
}

#audio-visual-mods {
	border: 4px solid #ba68c8;
}

#misc-mods {
	border: 4px solid #29b6f6;
}

#qol-mods {
	border: 4px solid #4caf50;
}


/* #endregion - mods border colors */

/* #endregion - colors */


/* #region - links */

/* #region - global links */

a.category {
	font-size: 36px;
}

a.active-perk2,a.highlighted,a.passive-perk2 {
	color:#000;
}

a.category,.img-link,.no-underline,.perks a.header-link,table a.highlighted,#tabs-3 a.header-link,ul#nav-missions a,ul#machine-events-nav a  {
	text-decoration: none;
}

a.highlighted,a.reg-link {
	text-decoration: underline;
}

.perks a.img-link {
	font-size: 24px;
}


/* #endregion - global links */

/* #region - links - backgrounds */

a.active-perk2 {
	background-color: #4bbfa5;
}

a.passive-perk2 {
	background-color: #b93253;
}


/* #region - overclocks */

.balanced {
	color: #e9Ca37;
}

.balanced2 {
	background-color: #e9Ca37;
}

.clean, .imgur {
	color: #379C5d;
}

.clean2, .imgur {
	background-color: #379C5d;
}


/* #endregion - overclocks */




/* #end region - links - backgrounds */





/* #endregion - links */


/* #endregion - text */


/* #endregion - global */



/* #region - tabs-content */

/* #region - tabs background */

#tabs-1 {
	background: 
    url("https://i.imgur.com/VrKlgAw.jpg") 
	top center / 100% 100%
	no-repeat
}

#tabs-2 {
	background: 
    url("https://i.imgur.com/51kKjmk.jpg") 
	top center / 100% 100%
	no-repeat
}

#tabs-3 {
	background: 
    url("https://deeprockgalactic.wiki.gg/images/b/b0/Site-background-light.png") 
	top center / 100% 100%
	no-repeat
}

#tabs-4 {
	background: 
    url("https://i.imgur.com/h6euCEJ.png") 
	top center / 100%  100% /* 1080px */
	no-repeat
}

#tabs-5 {
	background: 
    url("https://i.imgur.com/piaYCAd.jpg") 
	top center / 100% 100%
	no-repeat
}

#tabs-6 {
	background: 
    url("https://deeprockgalactic.wiki.gg/images/6/6b/The_Forge_Front.png") 
	top center / 100% 100%
	no-repeat
}

#tabs-7 {
	background: 
    url("https://deeprockgalactic.wiki.gg/images/4/46/Cabin_2.jpg") 
	top center / 100% 100%
	no-repeat
}

/* #endregion - tabs background */

.tabs-container {
	position: absolute;
	top: 0;
	z-index: -100;
	width: 100%;
	height: 100%;
}

.tabs-content {
	margin: auto;
	z-index: 200;
	position: relative;
	top: 54px;
	width: 1575px;
	height: 865px;
	background: rgba(0,0,0,0.75);
}

#tabs-3 .tabs-content {
	background: rgba(0,0,0,0.80);	
}

/* #tab1-content,#tab2-content,#tab3-content,#tab4-content,#tab5-content,#tab6-content,#tab7-content   {	
	background: rgba(0,0,0,0.90);
} */


#tabs-2 #general-info-tips {
	border: 4px solid #4caf50;
}

#tabs-2 #dwarf-lingo {
	border: 4px solid #1e88e5;
}

#tabs-2 #dwarf-rituals {
	border: 4px solid #ffc107;
}



/* #region - columns */

.columns-container {
	margin-right: 8px;
}

.columns,.columns-container {
	display: inline-block;
	vertical-align: top;
	overflow-x: hidden;
	overflow-y: auto;
}

#tabs-1 .columns {	
	height: 675px;
	width: 485px;
}

#tabs-2 .columns,#tabs-3 .columns {
	position: relative;
	left: 215px;
	height: 725px;
	width: 1075px;
}

#tabs-2 .columns {
	margin-top: -155px;
}

#tabs-3 .columns {
	margin-top: -462px;
}

#tabs-4 .columns {	
	height: 720px;
	width: 500px;
}

#tabs-5 .columns {
	position: relative;
	left: 215px;
	height: 750px;
	width: 1075px;
	margin-top: -442px;
}

#tabs-6 .columns {
	width: 370px;
	height: 520px;
}

#tabs-7 .columns {
	width: 100%;
	height: 100%;
}

/* #endregion - columns */

/* #region - tables */

table, th, td {
	border-collapse: collapse;
}


.table-headers th,#tabs-5 .table-headers th,.equipment-navs .h2 {
	font-size: 36px;
	line-height: 42px;
}

.table-headers th,#tabs-5 .table-headers th {
	color: #eceff1;
}

table.weapon-builds,.length-complexity-content {
	display: table;
	margin:0 auto;
}

table.weapon-builds {
	width: 1025px;
	font-size: 32px;
	line-height: 42px;
}

.length-complexity-content {
	width: 925px;
}

.length-complexity-content .tips {
	border: 2px solid #546e7a;
}

.tips {
	border-top: 4px solid #546e7a;
	border-bottom: 4px solid #546e7a;
	/* height: 50px; */
}

#engineer-stubby-smg .overclocks .highlighted {
	font-size: 28px;
	line-height: 32px;
}

#engineer-smart-rifle .overclocks .highlighted {
	font-size: 24px;
	line-height: 28px;
}

table.tips-content {
	width: 100%;
}




#machine-events table td.image-tips {
	vertical-align: top;
}




/* #endregion - tables */


/* #endregion - tabs-content */


/* #region - images */

.icons {
	position: relative;
	top: 5px;
	width: 32px;
	height: 32px;
}

#creatures-enemies-tips .icons {
	width: 128px;
	height: 128px;
}

.brood-nexus {
	width: 210px;
	height: 270px;	
}

.breeder {
	width: 180px;
	height: 180px;
}

#dwarf-lingo .breeder,#dwarf-lingo .plagueheart {
	width: 300px;
	height: 300px;
}

.breeder2 {
	width: 180px;
	height: 165px;
}

.bulk-det,.bulk-det-crassus,.bulk-det-unknown {
	width: 140px;
	height: 180px;		
}

.cargo-crate-battery {
	width: 255px;
	height: 155px;	
}

.corruptor2 {
	width: 480px;
	height: 192px;
}


.exploder {
	width: 180px;
	height: 180px;	
}

td.tips img {
	transition: transform .2s;	
}

td.tips img:hover {
	transform: scale(1.50);
	z-index: 100;
}

table#escort-length-complexity td.tips img:hover {
 transform: scale(1.00);
}

.full {
	width: 480px;
	height: 272px;
	/* transition: transform .2s;			 */
}

/* .full:hover {
	transform: scale(1.35);
} */

#machine-events .full {
	width: 600px;
	height: 272px;
}

/* #machine-events .full:hover {
	transform: scale(1);
} */

.full2 {
	width: 768px;
	height: 432px;
	transition: transform .2s;	
}

.full2:hover {
	transform: scale(1.35);
}

.glow-tree {
	width: 250px;
	height: 270px;
}

.korlok-healing-pod {
	width: 90px;
	height: 180px;
}

.korlok-core-open {
	width: 180px;
	height: 180px;
}

.korlok-sprout {
	width: 120px;
	height: 180px;
}

.length-complexity {
	width: 120px;
	height: 50px;	
}

.molly-left,.molly-right {
	width: 256px;
	height: 210px;	
}

.molly-up {
	width: 145px;
	height: 210px;	
}

.og-dread {
	width: 390px;
	height: 265px;
}


/* #dwarf-lingo .plagueheart {
	width: 300px;
	height: 300px;
} */

.shellback {
	width: 128px;
	height: 180px;
}

#dwarf-lingo .shellback {
	width: 210px;
	height: 295px;
}

.stun-sweeper {
	width: 85px;
	height: 220px;
}

.trawler {
	width: 180px;
	height: 90px;
}

#dwarf-lingo .trawler {
	width: 395px;
	height: 200px;
}


img.buttons {
	width: 200px;
}

.scroll-down {
	position: absolute;
	right: 5px;
	width: 64px;
	height: 50px;
}

.perk-icons {
	position: relative;
	top: 5px;
	width: 32px;
	height: 32px;
}

.perks-arrow {
	position: relative;
	top: 2px;
	width: 14px;
	height: 21px;
}

.nav-icons {
	position: relative;
	top: 8px;
	width: 48px;
	height: 48px;
	left: 10px;
}

.team {
	width: 450px;
	height: 250px;	
}

#tabs-1 .rock-n-stone,#tabs-2 .rock-n-stone,#tabs-7 .rock-n-stone, #tabs-7 .deep-dive-icon  {
	width: 40px;
	height: 52px;
	position: relative;
	top: 5px;
}

#driller-portrait,#engineer-portrait,#gunner-portrait,#scout-portrait {
	height: 190px;
}

#driller-portrait {
	width: 170px;
}

#engineer-portrait {
	width: 140px;
}

#gunner-portrait {
	width: 170px;
}

#scout-portrait {
	width: 120px;
}

#tabs-5 .mission-icons, #tabs-5 .deep-dive-icon {
	width: 32px;
	height: 32px;
	position: relative;
	top: 5px;
}


/* #endregion - images */
