body#general-tips {
	background: 
	#212121
    url("https://i.imgur.com/51kKjmk.jpg") 
	top center / 100% 100%
	no-repeat;
	background-size: cover;
}

body#general-tips .text-content-container {
	font-size: 32px;
}

#nav-main-general-info-tips li,
#nav-gameplay-tips li a,
#resources-tips-container li a {
	background-color: #263238;
}


#nav-main-general-info-tips li.line-break {
	height: 4px;
	background-color: transparent;
}

.general-loadouts-info,
.playstyle-content .text-content {
	font-size: 32px;
	line-height: 36px;
}

table#dwarf-lingo-tips .notes-text {
	font-size: 24px;
	line-height: 22px;
}

#general-info-tips-container {
	border: 4px solid #4caf50;
}

#gameplay-tips-container {
	border: 4px solid #ff9c00;
}

#creatures-enemies-container {
	border: 4px solid #e53935;
}

#resources-tips-container {
	border: 4px solid #ff4081;
}

#dwarf-lingo-container {
	border: 4px solid #1e88e5;
}

#dwarf-rituals-container {
	border: 4px solid #8bc34a;
}




/* #region - Nav General Info Tips */
li.ui-state-active#nav-general-tips a {
	color: #4caf50;
}

li.ui-state-active#nav-general-gameplay-tips a {
	color: #ff9c00;
}

li.ui-state-active#nav-creatures-enemies a {
	color: #e53935;
}

li.ui-state-active#nav-resources a {
	color: #ff4081;
}

li.ui-state-active#nav-dwarf-lingo a {
	color: #1e88e5;
}

li.ui-state-active#nav-dwarf-rituals a {
	color: #8bc34a;
}
/* #endregion - Nav General Info Tips */


/* #region - Nav Gameplay Tips */

li.ui-state-active#nav-gameplay-info a {
	color: #ff9c00;
}

li.ui-state-active#nav-gameplay-dwarves a {
	color: #1e88e5;
}

li.ui-state-active#nav-gameplay-mission-equipment a {
	color: #bf360c;
}

li.ui-state-active#nav-gameplay-environment a {
	color: #8bc34a;
}

/* #endregion - Nav Gameplay Tips */

#nav-minerals-tips {
	font-size: 24px;
	/* Has to be 24px or less the scrollbar makes the nave go down */
}

#nav-buried-gems-tips li,#nav-minerals-tips li {
	line-height: 64px;
}

#resources-tips li.separator,#resources-tips-1 li.separator {
	position: relative;
}

#resources-tips-1 li.separator {
	left: 4px;
	font-size: 24px;
}

/* #region - Nav Resources Colors */
li.ui-state-active#nav-resources-buried-gems a {
	color: #8d6e63;
}

li.ui-state-active#nav-resources-minerals a {
	color: #00695c;
}

li.ui-state-active#nav-resources-beer-materials a {
	color: #e65100;
}

li.ui-state-active#nav-resources-matrix-cores a {
	color: #9e9e9e;
}

/* #endregion - Nav Resources Colors */

/* #region - Nav Buried Gems Colors */
li.ui-state-active#nav-buried-gems-bittergem a {
	color: #ff4081;
}

li.ui-state-active#nav-buried-gems-gold a {
	color: #ffab00;
}

li.ui-state-active#nav-buried-gems-enor-pearl a {
	color: #bdbdbd;
}

li.ui-state-active#nav-buried-gems-jadiz a {
	color: #43a047;
}

li.ui-state-active#nav-buried-gems-error-cube a {
	color: #546e7a;
}
/* #endregion - Nav Buried Gems Colors */

/* #region - Nav Minerals Colors */
li.ui-state-active#nav-minerals-bismor a {
	color: #ffea00;
}

li.ui-state-active#nav-minerals-croppa a {
	color: #00838f;
}

li.ui-state-active#nav-minerals-gold a {
	color: #ffab00;
}

li.ui-state-active#nav-minerals-magnite a {
	color: #bf360c;
}

li.ui-state-active#nav-minerals-nitra a {
	color: #d50000;
}

li.ui-state-active#nav-minerals-phazyonite a {
	color: #8e24aa;
}

li.ui-state-active#nav-minerals-red-sugar a {
	color: #e53935;
}

li.ui-state-active#nav-minerals-umanite a {
	color: #8bc34a;
}
/* #endregion - Nav Minerals Colors */


#resources-tips-2 .tips-content,#resources-tips-3 .tips-content {
	position: relative;
	top: 10px;
}

/* #region - Border Colors */

/* #endregion - Border Colors */