body#missions-tips {
	background: 
	#212121
    url("https://i.imgur.com/piaYCAd.jpg") 
	top center / 100% 100%
	no-repeat;
	background-size: cover;	
}


body#missions-tips .text-content-container {
	font-size: 24px;
	line-height: 24px;
}

body#missions-tips .mission-icons, body#missions-tips .deep-dive-icon {
	width: 32px;
	height: 32px;
	position: relative;
	top: 5px;
}


body#missions-tips .column-left {
	height: 525px;
	width: 420px;
}


ul#nav-main-missions .h2 {
	font-size: 36px;
}

#nav-main-missions li.line-break {
	height: 4px;
	background-color: transparent;
}

#nav-main-missions li,
#nav-machine-events li {
	background-color: #263238;
}


#mission-escort-duty-tips .length-complexity-content .table-headers th {
	font-size: 24px;
	line-height: 24px;
}

#machine-events table td.image-tips {
	vertical-align: top;
}


table.length-complexity-content {
	width: 925px;
}

table.length-complexity-content td.tips {
	vertical-align: middle;
	border: 2px solid #546e7a;
}

#machine-events .text-content {
	font-size: 28px;
}

#machine-events .full {
	width: 600px;
	height: 272px;
}

/* #region -  mission border colors */

#mission-deep-dives,#mission-heavy-extraction {
	border: 4px solid #ffb000;
}

#mission-egg-hunt {
	border: 4px solid #b8008c;
}

#mission-dreads {
	border: 4px solid #dbda00;
}

#mission-escort-duty {
	border: 4px solid #03ffA1;
}

#mission-industrial-sabotage {
	border: 4px solid #bb2bff;
}

#mission-liquid-morkite {
	border: 4px solid #0070fe;
}

#mission-morkite {
	border: 4px solid #00695c;
}

#mission-aquarqs {
	border: 4px solid #68C900;
}

#mission-mules {
	border: 4px solid #00d6d9;
}

#mission-machine-events {
	border: 4px solid #546e7a;
}


/* #endregion -  mission border colors */

/* #region - Nav Missions Link Colors */

li.ui-state-active#nav-egg-hunt-link a {
	color: #b8008c;
}

li.ui-state-active#nav-dreadnoughts-link a {
	color: #dbda00;
}

li.ui-state-active#nav-escort-link a {
	color: #03ffA1;
}

li.ui-state-active#nav-heavy-extraction-link a {
	color: #ffb000;
}

li.ui-state-active#nav-industrial-sabotage-link a {
	color: #bb2bff;
}

li.ui-state-active#nav-morkite-link a {
	color: #00695c;
}

li.ui-state-active#nav-on-site-refining-link a {
	color: #0070fe;
}

li.ui-state-active#nav-point-extraction-link a {
	color: #68C900;
}

li.ui-state-active#nav-mules-link a {
	color: #00d6d9;
}

li.ui-state-active#nav-deep-dives-link a {
	color: #ffb000;
}

li.ui-state-active#nav-machine-events-link a {
	color: #546e7a;
}

/* #endregion - Nav Missions Link Colors */


/* #region - Nav Machine Events Link Colors */

li.ui-state-active#nav-machine-event-info a {
	color: #ff9c00;
}

li.ui-state-active#nav-ebonite-event a {
	color: #78909c;
}

li.ui-state-active#nav-kursite-event a {
	color: #ffeb3b;
}

li.ui-state-active#nav-omen-event a {
	color: #757575;
}

li.ui-state-active#nav-tritilyte-event a {
	color: #d32f2f;
}

/* #endregion - Nav Machine Events Link Colors */