body#mods {
	background: 
	#212121
    url("https://deeprockgalactic.wiki.gg/images/6/6b/The_Forge_Front.png") 
	top center / 100% 100%
	no-repeat;
	background-size: cover;	
}

body#mods .text-content-container {
	font-size: 24px;
	line-height: 24px;
}